#editor {
	border-spacing: 0px;
	z-index: 20000;
	top: 0px;

	&.queryPage {
		table-layout: fixed;
		width: 100%
	}

	td {
		padding: 0px;
	}

	ngx-monaco-editor {
		height: 30vh;
		min-width: 450px;
	}
}

#actions {
	top: calc(30vh - 1px);
	padding: 10px 20px;
	background-color: #303030;
	z-index: 10000;
}

#editor, #actions {
	position: sticky;
}

.prebuild > * {
	margin: 0px 2px;
}
