#editor {
	border-spacing: 0px;
	z-index: 20000;
	top: 0px;

	td {
		padding: 0px;
	}

	ngx-monaco-editor {
		height: calc(100vh - 162px);
		width: 33vw;
	}
}

#actions {
	padding: 10px 20px;
}

.prebuild > * {
	margin: 0px 2px;
}

#results {
	width: 100%;
	height: calc(100vh - 162px);
	overflow: auto;
}
