<div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="none">

	<table [ngClass]="{'queryPage': selectedTable}"
		   id="editor">
		<tr>
			<td>
				<ngx-monaco-editor
					(onInit)="initEditor($event, 0)"
					[(ngModel)]="query"
					[options]="editorOptions">
				</ngx-monaco-editor>
			</td>
			<td [hidden]="!diff">
				<ngx-monaco-editor
					(onInit)="initEditor($event, 1)"
					[(ngModel)]="query2"
					[options]="editorOptions">
				</ngx-monaco-editor>
			</td>
		</tr>
	</table>

	<div fxLayout="row"
		 fxLayoutAlign="space-between center"
		 id="actions">

		<button (click)="runQuery()"
				*ngIf="!diff"
				color="primary"
				mat-raised-button>
			<span class="material-symbols-outlined notranslate">play_arrow</span>
			Execute
		</button>

		<button (click)="compareQuery()"
				*ngIf="diff"
				color="primary"
				mat-raised-button>
			<span class="material-symbols-outlined notranslate">difference</span>
			Compare
		</button>

		<div *ngIf="selectedTable" class="prebuild">
			<button
				(click)="prebuild('select')"
				mat-icon-button
				mat-stroked-button
				matTooltip="Select">
				<span class="material-symbols-outlined notranslate">description</span>
			</button>
			<button
				*ngIf="isSQL()"
				(click)="prebuild('select_join')"
				mat-icon-button
				mat-stroked-button
					matTooltip="Select with relations">
				<span class="material-symbols-outlined notranslate">file_present</span>
			</button>
			<button
				(click)="prebuild('update')"
				mat-icon-button
				mat-stroked-button
				matTooltip="Update">
				<span class="material-symbols-outlined notranslate">edit_document</span>
			</button>
			<button
				(click)="prebuild('insert')"
				mat-icon-button
				mat-stroked-button
				matTooltip="Insert">
				<span class="material-symbols-outlined notranslate">note_add</span>
			</button>
			<button
				(click)="prebuild('delete')"
				mat-icon-button
				mat-stroked-button
				matTooltip="Delete">
				<span class="material-symbols-outlined notranslate">scan_delete</span>
			</button>
		</div>

		<div *ngIf="selectedTable">
			<mat-slide-toggle
				(click)="toggleDiff()"
				color="primary"
				matTooltip="Only first {{pageSize}} results will be prompt">
				Compare Mode
			</mat-slide-toggle>
		</div>

		<a [href]="selectedServer!.driver.docs.language" mat-button target="_blank">
			<span class="material-symbols-outlined notranslate">
				menu_book
			</span>
			{{selectedServer!.driver.language.id === "sql" ? "SQL" : (selectedServer!.driver.language.id | titlecase)}}
		</a>

		<div>
			<button [matMenuTriggerFor]="advanced" mat-icon-button>
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #advanced="matMenu" xPosition="before">
				<button [matMenuTriggerFor]="shortcuts" mat-menu-item>Shortcuts</button>
				<button [matMenuTriggerFor]="export" mat-menu-item>Export Query</button>
				<button [matMenuTriggerFor]="disclaimer" mat-menu-item>Disclaimer</button>
			</mat-menu>

			<mat-menu #shortcuts="matMenu">
				<button mat-menu-item>Alt + Space → <span style="color: #2196f3">Autocomplete</span></button>
				<button mat-menu-item>Ctrl + s / Enter → <span style="color: #2196f3">Run Query</span></button>
				<button mat-menu-item>Ctrl / ⌘ + f → <span style="color: #2196f3">Find and / or Replace</span></button>
				<button mat-menu-item>Alt + Maj + f → <span style="color: #2196f3">Format Query</span></button>
			</mat-menu>
			<mat-menu #export="matMenu">
				<button (click)="exportQuery('node')" mat-menu-item>Node.JS</button>
				<button (click)="exportQuery('PDO')" mat-menu-item>PHP</button>
				<button (click)="exportQuery('JDBC')" mat-menu-item>Java</button>
			</mat-menu>
			<mat-menu #disclaimer="matMenu">
				<pre style="color: white; padding: 0px 10px">Only most keyword/function <br>are proposed in autocomplete</pre>
			</mat-menu>
		</div>

		<mat-progress-bar
			[hidden]="!isLoading"
			mode="query"
			style="position: absolute; left: 0px; right: 0px; bottom: 0px;"></mat-progress-bar>
	</div>

	<ngx-monaco-diff-editor
		*ngIf="diff && !isLoading"
		[modifiedModel]="modifiedResult"
		[options]="editorOptions"
		[originalModel]="originalResult"
		style="min-height: 50vh"
	></ngx-monaco-diff-editor>

	<div *ngIf="!diff && dataSource?.data">

		<mat-toolbar *ngIf="dataSource?.data?.length"
					 fxLayout="row"
					 fxLayoutAlign="space-between center"
		>
			<div style="display: flex; align-items: center;">
				<mat-form-field appearance="outline" class="goToPage">
					<mat-label>
						Page
					</mat-label>
					<mat-select (selectionChange)="page = $event.value; runQuery()" [value]="page">
						<mat-option
							*ngFor="let item of [].constructor(Math.floor(querySize / pageSize) + 1); let i = index"
							[value]="i">{{i}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-paginator
					(page)="page = $event.pageIndex; runQuery()"
					[length]="querySize"
					[pageIndex]="page"
					hidePageSize
					pageSize="{{pageSize}}"
				></mat-paginator>
				<button
					(click)="setAutoUp()"
					[color]="autoUp ? 'primary' : undefined"
					[ngClass]="{'mat-raised-button' : autoUp}"
					mat-button
					matTooltip="Reload data periodically">
					<span class="material-symbols-outlined notranslate">
						repeat
					</span>
				</button>
			</div>
			<mat-form-field>
				<mat-label>
					Export Result
				</mat-label>
				<mat-select #exportResultType (selectionChange)="exportResult(exportResultType.value)">
					<mat-option [value]="'csv'">CSV</mat-option>
					<mat-option [value]="'json'">JSON</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-toolbar>

		<div class="scrollDiv">

			<mat-divider></mat-divider>

			<table [dataSource]="dataSource!" class="table" mat-table>
				<ng-container
					*ngFor="let column of displayedColumns"
					matColumnDef="{{column}}"
				>
					<th *matHeaderCellDef mat-header-cell>
						{{column}}
					</th>
					<td *matCellDef="let row" mat-cell>
						<app-cell
							[column]="column"
							[row]="row"
						></app-cell>
					</td>
				</ng-container>

				<tr *matHeaderRowDef="displayedColumns!; sticky: true" mat-header-row></tr>
				<tr *matRowDef="let row; columns: displayedColumns!;" mat-row></tr>
			</table>
		</div>
	</div>
</div>
