<div class="random">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

		<div>
			<button (click)="generate(+addGenNb.value, result)" color="primary" mat-flat-button>
				<span class="material-symbols-outlined notranslate">
					auto_mode
				</span>
				Generate Rows
			</button>

			<mat-form-field style="width: 65px; text-align: right; margin-bottom: -0.5em;">
				<input #addGenNb matInput min="1" type="number" value="1">
			</mat-form-field>
		</div>

		<div>
			<mat-button-toggle-group
				(change)="iframe = sanitizer.bypassSecurityTrustResourceUrl($event.value)">
				<mat-button-toggle
					value='https://v7.fakerjs.dev/api/'>
					FakerJS
				</mat-button-toggle>
				<mat-button-toggle
					value='https://ngneat.github.io/falso/docs/getting-started'>
					Falso
				</mat-button-toggle>
			</mat-button-toggle-group>
		</div>

		<a href="https://gitlab.com/web-db/landing/-/wikis/Intelligent-Generator"
		   mat-button
		   target="_blank">
				<span class="material-symbols-outlined notranslate">
					menu_book
				</span>
			Generator
		</a>
	</mat-toolbar>

	<div *ngIf="iframe" style="height: 400px; display: flex;">
		<iframe [src]="iframe" style="border-top: 1px solid #2196f3; border-bottom: 1px solid #2196f3; border-left: none; border-right: none; min-height: 100%; width: 100%; box-sizing: border-box;"></iframe>
	</div>

	<mat-tab-group mat-align-tabs="center">
		<mat-tab
			*ngFor="let random of randomSource"
			[labelClass]="random.error ? 'tab-error': ''"
			[label]="random.column.name"
		>
			<div style="display: flex">

				<ngx-monaco-editor
					(onInit)="initEditor($event, random.column.name)"
					[(ngModel)]="random.model"
					[options]="editorOptions"
					style="flex: 1; resize: vertical"
				>
				</ngx-monaco-editor>

				<div class="infos">
					<h2 style="color: #2196f3; width: 12vw; text-align: center;">
						{{random.column.type}}
						<mat-divider></mat-divider>
					</h2>

					<button
						(click)="random.model = beautify('(() => {return undefined})()')"
						mat-stroked-button>
						<span class="material-symbols-outlined notranslate">
							check_box_outline_blank
						</span>
						Null / Default
					</button>

					<button
						(click)="sampleData(random, true)"
						mat-flat-button>
						<span class="material-symbols-outlined notranslate">
							frame_inspect
						</span>
						Sample Data
					</button>

					<button
						[matMenuTriggerFor]="iaFrame"
						mat-flat-button>
						<span class="material-symbols-outlined notranslate">
							support_agent
						</span>
						IA Suggestion
					</button>
					<mat-menu #iaFrame="matMenu" xPosition="before">
						<button (click)="iaCode(random, 'FakerJS')"
								mat-menu-item>
							FakerJS
						</button>
						<button (click)="iaCode(random, 'FakerJS')"
								mat-menu-item>
							Falso
						</button>
					</mat-menu>

					<button [matMenuTriggerFor]="example" mat-button>
						<span class="material-symbols-outlined notranslate">
							code
						</span>
						Example
					</button>
					<mat-menu #example="matMenu" xPosition="before">
						<button (click)="random.model = 'return faker.datatype.string()'"
								mat-menu-item>
							String
						</button>
						<button (click)="random.model = 'return faker.datatype.number()'"
								mat-menu-item>
							Number
						</button>
						<button (click)="random.model = 'return faker.datatype.datetime()'"
								mat-menu-item>
							DateTime
						</button>
						<button (click)="random.model = 'return faker.internet.email()'"
								mat-menu-item>
							Mail
						</button>
						<button
							(click)="random.model = 'return {\n\tfirst_name: faker.name.firstName(),\n\tlast_name: faker.name.lastName(),\n\tsex: faker.name.sex()\n}'"
							mat-menu-item>
							Object
						</button>
						<button (click)="random.model = 'return faker.address.streetAddress(true)'"
								mat-menu-item>
							Address
						</button>
					</mat-menu>
				</div>
			</div>

			<ng-container>
				<mat-error>{{random.error}}</mat-error>
			</ng-container>
		</mat-tab>
	</mat-tab-group>
</div>

<div #result class="result">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
		<div>
			<button (click)="addRows(+addRowNb.value)" mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
					add
				</span>
				Empty Rows
			</button>
			<mat-form-field style="width: 65px; text-align: right">
				<input #addRowNb
					   matInput
					   min="1"
					   type="number"
					   value="1">
			</mat-form-field>
		</div>

		<input #inputFile (change)="inputChange($event)" accept=".json, .csv" hidden="true" onclick="this.value=null"
			   type="file"/>
		<button (click)="inputFile.click()" mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				upload_file
			</span>
			Import CSV/JSON File
		</button>

		<button (click)="insert()"
				[disabled]="dataSource.data.length < 1"
				color="primary"
				mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				note_add
			</span>
			Insert Rows
		</button>
	</mat-toolbar>

	<div class="scrollDiv mat-elevation-z8">
		<table [dataSource]="dataSource" class="table" mat-table>
			<ng-container
				*ngFor="let column of displayedColumns"
				matColumnDef="{{column}}"
			>
				<ng-container *ngIf="column === actionColum">
					<th *matHeaderCellDef mat-header-cell style="width: 0px;">
						<button (click)="removeRows()"
								[disabled]="selection.isEmpty()"
								color="warn"
								mat-icon-button>
							<span class="material-symbols-outlined notranslate">
								delete
							</span>
						</button>
						<mat-checkbox
							(change)="$event ? toggleAllRows() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()"
							color="warn">
						</mat-checkbox>
					</th>
					<td *matCellDef="let row; let i = index"
						mat-cell>
						<button (click)="editRow(i, row)"
								color="primary"
								mat-icon-button>
							<span class="material-symbols-outlined notranslate">
								edit
							</span>
						</button>
						<mat-checkbox
							(change)="$event ? selection.toggle(row) : null"
							(click)="$event.stopPropagation()"
							[checked]="selection.isSelected(row)"
							color="warn">
						</mat-checkbox>
					</td>
				</ng-container>
				<ng-container *ngIf="column !== actionColum">
					<th *matHeaderCellDef mat-header-cell>
						{{column}}
					</th>
					<td *matCellDef="let row"
						[class.selected]="selection.isSelected(row)"
						mat-cell>
						<app-cell
							*ngIf="column !== actionColum"
							[column]="column"
							[row]="row"
							[stringify]="true"
						></app-cell>
					</td>
				</ng-container>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns!; sticky: true" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns!;" mat-row></tr>
		</table>
	</div>
	<mat-paginator
		hidePageSize
		pageSize="100"
		showFirstLastButtons
	></mat-paginator>
</div>
