<div class="random">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

		<div>
			<button (click)="generate(+addGenNb.value)" color="primary" mat-flat-button>
				<span class="material-symbols-outlined notranslate">
					auto_mode
				</span>
				Generate Rows
			</button>

			<mat-form-field style="width: 44px; text-align: right; margin-bottom: -0.5em;">
				<input #addGenNb matInput min="1" type="number" value="1">
			</mat-form-field>
		</div>

		<button (click)="formatAllCodes()" mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				checklist_rtl
			</span>
			Format
		</button>

		<div>
			<button [matMenuTriggerFor]="docs" mat-stroked-button>
				Documentation
				<span class="material-symbols-outlined notranslate">
					menu_book
				</span>
			</button>
			<mat-menu #docs="matMenu">
				<a href="https://gitlab.com/web-db/landing/-/wikis/Generator"
				   mat-menu-item
				   target="_blank">
					WebDB
				</a>
				<a href="https://www.w3schools.com/jsref/jsref_obj_date.asp"
				   mat-menu-item
				   target="_blank">
					JS Date
				</a>
				<a href="https://www.w3schools.com/jsref/jsref_random.asp"
				   mat-menu-item
				   target="_blank">
					JS Random
				</a>
				<a href="https://github.com/brix/crypto-js"
				   mat-menu-item
				   target="_blank">
					Crypto-JS
				</a>
			</mat-menu>
		</div>

	</mat-toolbar>

	<div class="scrollDiv">
		<table [dataSource]="randomSource!" mat-table>
			<ng-container
				*ngFor="let column of columns"
				matColumnDef="{{column}}">

				<th *matHeaderCellDef mat-header-cell>
					<span>{{column}}</span>
					<br>
					<span style="color: #2196f3;">{{structure[column]}}</span>
				</th>
				<td *matCellDef="let row; let i = index" mat-cell>
					<mat-form-field *ngIf="i === 0" appearance="outline" floatLabel='never'>
						<mat-select [value]="row[column]">
							<mat-option disabled style="height: 80px;">
								<mat-form-field appearance="outline" style="width: 100%; margin-bottom: -1.25em">
									<input #filterPreset
										   autocomplete="off"
										   matInput
										   placeholder="Search Preset">
									<button (click)="filterPreset.value=''" *ngIf="filterPreset.value" mat-button
											mat-icon-button
											matSuffix>
										<mat-icon>close</mat-icon>
									</button>
								</mat-form-field>
							</mat-option>
							<mat-optgroup *ngFor="let group of generatorGroups" [label]="group.name" class="preset">
								<ng-container *ngFor="let value of group.values">
									<mat-option (click)="randomSource!.data[1][column] = value.fct"
												*ngIf="value.name.toLowerCase().includes(filterPreset.value.toLowerCase())"
												[style.opacity]="typeMatch(structure[column], value.type) ? 1 : 0.5"
												[value]="value.name">
										{{value.name}}
									</mat-option>
								</ng-container>
							</mat-optgroup>
						</mat-select>
					</mat-form-field>

					<ngx-monaco-editor
						*ngIf="i === 1"
						[(ngModel)]="row[column]"
						[options]="editorOptions"
						(onInit)="initEditor($event, column)"
						class="resizable"
					>
					</ngx-monaco-editor>

					<ng-container *ngIf="i === 2">
						<mat-error>{{row[column]}}</mat-error>
					</ng-container>
				</td>
			</ng-container>

			<tr *matHeaderRowDef="columns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: columns;" mat-row></tr>
		</table>
	</div>
</div>

<div class="static">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
		<div>
			<button (click)="addRows(+addRowNb.value)" mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
					add
				</span>
				Empty Rows
			</button>
			<mat-form-field style="width: 44px; text-align: right">
				<input #addRowNb
					   matInput
					   min="1"
					   type="number"
					   value="1">
			</mat-form-field>
		</div>

		<input #inputFile (change)="inputChange($event)" accept=".json, .csv" hidden="true" onclick="this.value=null"
			   type="file"/>
		<button (click)="inputFile.click()" mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				upload_file
			</span>
			Import CSV/JSON File
		</button>

		<button (click)="insert()"
				[disabled]="dataSource.data.length < 1"
				color="accent"
				mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				note_add
			</span>
			Insert Rows
		</button>

		<button (click)="removeRows()" [disabled]="selection.isEmpty()" mat-button>
			<span class="material-symbols-outlined notranslate">
				delete
			</span>
			Rows
		</button>
	</mat-toolbar>

	<div class="scrollDiv mat-elevation-z8">
		<table [dataSource]="dataSource" class="table" mat-table>
			<ng-container
				*ngFor="let column of displayedColumns"
				matColumnDef="{{column}}"
			>
				<ng-container *ngIf="column === actionColum">
					<th *matHeaderCellDef mat-header-cell style="width: 0px;">
						<mat-checkbox (change)="$event ? toggleAllRows() : null"
									  [checked]="selection.hasValue() && isAllSelected()"
									  [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</th>
					<td *matCellDef="let row" mat-cell>
						<mat-checkbox (change)="$event ? selection.toggle(row) : null"
									  (click)="$event.stopPropagation()"
									  [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</td>
				</ng-container>
				<ng-container *ngIf="column !== actionColum">
					<th *matHeaderCellDef mat-header-cell>
						{{column}}
					</th>
					<td *matCellDef="let row" mat-cell>
						<textarea
							[(ngModel)]="row[column]"
							autocomplete="off"
							cdkTextareaAutosize
							matInput></textarea>
					</td>
				</ng-container>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
		</table>
	</div>
</div>
