#docToggle {
	::ng-deep .mat-button-toggle-label-content {
		line-height: 36px;
	}

	img, .mat-icon {
		height: 22px;
		width: 22px;
	}
}

.random {
	::ng-deep .tab-error {
		background-color: #f44336;
	}

	::ng-deep .mat-tab-body-wrapper, ::ng-deep .mat-tab-body {
		overflow: visible;
	}

	::ng-deep .mat-tab-label {
		min-width: 90px;
	}

	.mat-tab-group {
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	}

	.infos {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 4px;
		padding: 12px;
	}
}

.result {
	margin-top: 65px;
	position: relative;
	z-index: 0;

	.scrollDiv {
		overflow-y: hidden;
	}
}
