.static {
	margin-top: 65px;

	.table .mat-cell {
		color: #ff9800 !important;
		
		textarea {
			min-height: 30px;
		}
	}
}

.random {
	display: flex;
	flex-direction: column;

	.resizable {
		height: 200px;
		resize: both;
		overflow: auto;
	}

	a {
		margin: 7px;
	}

	table {
		width: 100%;
		height: 100%;

		td:not(:last-child) {
			border-right: 1px solid #1e1e1e;
		}

		th {
			text-align: center;
			background-color: #1e1e1e;
		}

		td {
			border-bottom-width: 0px;
			padding: 10px;

			mat-form-field {
				width: 100%;
			}
		}
	}
}

::ng-deep .mat-select-panel .preset.mat-optgroup:not(:has(.mat-option)) {
	display: none;
}
