:host > div {
	max-width: 50vw;
}

#examples {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin: 0px 30px;
	justify-content: space-between;

	button {
		white-space: break-spaces;
		width: 49%;
	}
}

#settings {
	padding: 10px 30px;
	font-size: 14px;

	> div {
		gap: 20px;
		display: flex;
		justify-content: space-between;
		padding: 12px 0px;
		align-items: center;
	}
}

#container {
	overflow: auto;
	overflow-wrap: break-word;
	height: 100%;
	position: relative;

	.responseCode {
		position: relative;
	}
}

.sendMessage {
	width: 100%;

	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0px !important;

		.mat-form-field-underline {
			bottom: 0px !important;
		}
	}
}
