:host > div {
	width: 35vw !important;
}

#examples {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin: 30px;
	justify-content: space-between;

	button {
		white-space: break-spaces;
		width: calc(50% - 6px);
	}
}

#container {
	overflow: auto;
	overflow-wrap: break-word;
	height: 100%;
	position: relative;

	.responseCode {
		position: relative;
	}
}

#tokens {
	.mat-button {
		width: 120px;
	}
}

.centered {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#sendInput {
	box-shadow: 0px -2px 6px 0px #212121;
	z-index: 1000000;
	position: relative;

	.mat-form-field {
		width: 100%;

		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0px !important;

			.mat-form-field-flex {
				background-color: transparent;
			}

			.mat-form-field-underline {
				bottom: 0px !important;
			}
		}
	}
}

:host ::ng-deep .mat-slider-horizontal {
	min-width: 100%;
}
