:host > div {
	max-width: 50vw;
}

#examples {
	height: 40vh;
	display: flex;
	flex-wrap: wrap;
	max-width: 40vw;
	margin: 0px 30px;
	justify-content: space-between;
	align-items: center;

	button {
		white-space: break-spaces;
		width: 49%;
	}
}

#container {
	overflow: auto;
	overflow-wrap: break-word;
	height: 100%;

	.mat-card-content {
		overflow: auto;

		.responseCode {
			position: relative;
		}
	}
}

.sendMessage {
	width: 100%;

	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0px !important;

		.mat-form-field-underline {
			bottom: 0px !important;
		}
	}
}
