<ng-container *ngIf="licence?.plan === 'Starter'">
	You must get a plan to access this feature

	<a href="https://webdb.app/price" mat-stroked-button target="_blank">
		<span class="material-symbols-outlined notranslate">
			subscriptions
		</span>
		Plans
	</a>
</ng-container>

<div [hidden]="licence?.plan === 'Starter'"
	 fxFlexFill
	 fxLayout="column"
	 fxLayoutAlign="space-between none">

	<mat-toolbar style="display: inline-table; padding: 10px 16px; z-index: 100">

		<div fxLayout="row"
			 fxLayoutAlign="space-between center">
			<div>
				<a href="https://platform.openai.com/account/api-keys"
				   mat-button
				   matTooltip="API keys page"
				   matTooltipPosition="right"
				   target="_blank">
					<mat-icon svgIcon="chatgpt"></mat-icon>
					ChatGPT
				</a>
			</div>

			<div class="flex-spacer"></div>

			<button
				(click)="settings.toggleAttribute('hidden')"
				mat-button>
				<span class="material-symbols-outlined notranslate">
					page_info
				</span>
				Configuration
			</button>
		</div>

		<div id="settings" #settings>

			<mat-divider></mat-divider>

			<div>
				<mat-form-field
					appearance="fill"
					color="accent"
					style="margin-bottom: -1.25em; width: 100%">
					<mat-label>Tables</mat-label>
					<mat-select
						(selectionChange)="preSentChange()"
						[(ngModel)]="preSent.tables"
						multiple>
						<mat-option
							*ngFor="let table of selectedDatabase?.tables"
							[value]="table.name">
							{{table.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-slide-toggle
					(change)="preSentChange()"
					[(ngModel)]="preSent.triggers"
					color="accent">
					Triggers
				</mat-slide-toggle>

				<div>
					Rows count
					<br>
					<mat-slider
						(change)="preSentChange()"
						color="accent"
						max="200"
						min="1"
						step="1"
						thumbLabel
						[(ngModel)]="preSent.count">
					</mat-slider>
				</div>

				<div>
					Deep level
					<br>
					<mat-slider
						(change)="preSentChange()"
						color="accent"
						max="15"
						min="0"
						step="1"
						thumbLabel
						[(ngModel)]="preSent.deep">
					</mat-slider>
				</div>
			</div>

			<mat-divider></mat-divider>

			<div>
				<mat-button-toggle-group (change)="configChange()" [(ngModel)]="config.model">
					<mat-button-toggle value='gpt-3.5-turbo-16k'>gpt-3.5-turbo-16k</mat-button-toggle>
					<mat-button-toggle value='gpt-3.5-turbo'>gpt-3.5-turbo</mat-button-toggle>
					<mat-button-toggle value="gpt-4">gpt-4</mat-button-toggle>
					<mat-button-toggle value="gpt-4-32k">gpt-4-32k</mat-button-toggle>
				</mat-button-toggle-group>

				<div
					matTooltipPosition="left"
					matTooltip="Higher values will make the output more random
					Lower values will make it more focused and deterministic">
					Temperature
					<mat-slider
						(change)="configChange()"
						color="accent"
						max="2"
						min="0"
						step="0.1"
						thumbLabel
						[(ngModel)]="config.temperature">
					</mat-slider>
				</div>
			</div>

			<mat-divider></mat-divider>

			<div>
				<mat-form-field style="flex: 1; margin-bottom: -1.25em" appearance="outline">
					<mat-label>OpenAI Key</mat-label>
					<input
						(change)="configChange()"
						[(ngModel)]="config.openAI"
						required
						matInput>
				</mat-form-field>

				<button
					(click)="chat = []; saveChat()"
					mat-button>
					<span class="material-symbols-outlined notranslate">
						delete_sweep
					</span>
				</button>
			</div>
		</div>
	</mat-toolbar>

	<div *ngIf="!chat.length || !config.openAI">
		<h3 style="text-align: center; border-bottom: 1px dashed grey">Some examples</h3>
		<div id="examples">
			<button (click)="sendMessage(example);"
					*ngFor="let example of examples"
					[disabled]="!config.openAI"
					mat-stroked-button>
				{{example}}
			</button>
		</div>
	</div>

	<div *ngIf="config.openAI && chat.length" id="container" #scrollContainer>
		<mat-card *ngFor="let ch of chat"
				  [style.background-color]="ch.error ? '#f44336' : ch.user === Role.Assistant ? '#1e1e1e' : undefined">
			<mat-card-content>

				<div *ngFor="let mrk of ch.marked" class="marked">

					<div *ngIf="mrk.code" class="responseCode">
						<div class="actions">
							<button
								(click)="runQuery(mrk.code);"
								mat-icon-button
								matTooltip="Run and send result to IA"
								matTooltipPosition="left">
								<span class="material-symbols-outlined notranslate">
									fast_forward
								</span>
							</button>
							<button
								(click)="snackBar.open('Copied to clipboard', '╳', {duration: 3000})"
								[cdkCopyToClipboard]="mrk.code"
								mat-icon-button>
								<span class="material-symbols-outlined notranslate">
									file_copy
								</span>
							</button>
						</div>
						<pre><code [highlight]="mrk.code" [lineNumbers]="true"></code></pre>
					</div>

					<div *ngIf="mrk.html" class="actions">
						<button
							(click)="message.value = ch.txt"
							*ngIf="ch.user === Role.User"
							mat-icon-button
							matTooltip="Edit request"
							matTooltipPosition="left">
							<span class="material-symbols-outlined notranslate">
								edit
							</span>
						</button>
					</div>
					<div [innerHTML]="mrk.html"></div>
				</div>

			</mat-card-content>
		</mat-card>
	</div>

	<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent" style="z-index: 100;"></mat-progress-bar>

	<div [hidden]="!config.openAI" style="box-shadow: 0px -10px 16px 1px #363636; position: relative;">
		<mat-form-field appearance="fill"
						class="sendMessage"
						color="accent">
			<mat-label>Ask anything about `{{selectedDatabase?.name}}`</mat-label>
			<textarea
				#message
				(keydown.enter)="sendMessage(message.value); message.value = ''"
				cdkTextareaAutosize
				matInput
				style="max-height: 60vh;"></textarea>
			<button (click)="sendMessage(message.value); message.value = ''"
					[disabled]="!message.value"
					mat-icon-button
					matSuffix>
				<mat-icon>send</mat-icon>
			</button>
		</mat-form-field>
	</div>
</div>
