<div cdkDrag
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div style="display: flex">
		<button
			cdkDragHandle
			mat-icon-button
			style="cursor: grab">
			<span class="material-symbols-outlined">
				drag_indicator
			</span>
		</button>
		<h3>Batch Update</h3>
	</div>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>

<div mat-dialog-content style="overflow: hidden;">
	<mat-progress-bar
		*ngIf="loading >= 1 && loading < 100"
		[value]="loading"
		mode="determinate"
		style="margin-bottom: 14px"
	></mat-progress-bar>
	<div style="padding: 12px 12px 0px 12px;">
		<mat-form-field appearance="fill" style="width: 100%">
			<mat-label>Column to Update</mat-label>
			<mat-select (selectionChange)="show($event.value)" multiple>
				<mat-option *ngFor="let column of columns" [value]="column">
					{{column}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<ngx-monaco-editor
		[(ngModel)]="str"
		[options]="editorOptions">
	</ngx-monaco-editor>
</div>
<mat-dialog-actions>
	<button
		(click)="update()"
		*ngIf="loading >= 100"
		color="primary"
		mat-stroked-button>
		Update {{data.length}} Rows
	</button>
</mat-dialog-actions>
