<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div>
		<h3>Batch update</h3>
	</div>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<span class="material-symbols-outlined notranslate">close</span>
	</button>
</div>

<div mat-dialog-content style="overflow: hidden;">
	@if (loading >= 1 && loading < 100) {
		<mat-progress-bar
			[value]="loading"
			mode="determinate"
			style="margin-bottom: 14px"
		></mat-progress-bar>
	}
	<div style="padding: 12px 12px 0px 12px;">
		<mat-form-field appearance="fill" style="width: 100%">
			<mat-label>Column to Update</mat-label>
			<mat-select (selectionChange)="show($event.value)" multiple>
				@for (column of columns; track column) {
					<mat-option [value]="column">
						{{ column }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>
	<ngx-monaco-editor
		[(ngModel)]="str"
		[options]="editorOptions"
		style="width: 450px">
	</ngx-monaco-editor>
</div>
<mat-dialog-actions>
	@if (selectedServer?.driver!.language.extendedJSONDoc) {
		<a
			[href]="selectedServer?.driver!.language.extendedJSONDoc"
			mat-button
			target="_blank">
			<span class="material-symbols-outlined notranslate">
				info
			</span>
			JSON Doc
		</a>
	}

	@if (strError() !== null) {
		<mat-error
			style="width: 420px">
			<div [innerHtml]="strError()"></div>
		</mat-error>
	}
	@if (loading >= 100 && strError() === null) {
		<button
			(click)="update()"
			cdkFocusInitial
			color="primary"
			mat-stroked-button>
			Update {{ data.length }} Rows
		</button>
	}
</mat-dialog-actions>
