[submodule "dataset/postgresDBSamples"]
	path = dataset/postgresDBSamples
	url = https://github.com/morenoh149/postgresDBSamples.git
[submodule "dataset/mongodb-sample-dataset"]
	path = dataset/mongodb-sample-dataset
	url = https://github.com/neelabalan/mongodb-sample-dataset.git
[submodule "dataset/mysql-samples"]
	path = dataset/mysql-samples
	url = https://github.com/enzinier/mysql-samples.git
[submodule "dataset/employee-sample-database"]
	path = dataset/employee-sample-database
	url = https://github.com/bytebase/employee-sample-database
