.mat-mdc-dialog-content {
	width: 800px;
	height: 500px;
	resize: both;
	overflow-y: scroll;
	overflow-x: hidden;

	table {
		height: 100%;
		width: 100%;
		table-layout: fixed;

		td {
			padding: 2px;
			word-break: break-word;
		}

		td:first-child {
			padding-left: 14px;
		}

		td:last-child {
			text-align: right;
		}

		.lowOpacity {
			opacity: 0.2;
		}

		tr:hover .lowOpacity {
			opacity: 1;
		}
	}
}
