<div mat-dialog-content>
	@if (!variableList.data.length) {
		<mat-spinner
			[diameter]="30"
			style="margin: 30px auto;"
		></mat-spinner>
	}

	@if (variableList.data.length) {
		<table
			[dataSource]="variableList"
			[trackBy]="identify"
			mat-table>
			<ng-container matColumnDef="name">
				<th *matHeaderCellDef mat-header-cell style="padding-left: 14px;">
					<mat-form-field class="searchField" appearance="fill" style="width: 92%;">
						<input
							(keyup)="filterChanged()"
							[(ngModel)]="filter"
							autocomplete="off"
							matInput
							placeholder="Filter name / description / value">
						@if (filter) {
							<button
								(click)="filter = ''; filterChanged()"
								aria-label="Clear"
								mat-icon-button
								matSuffix>
								<span class="material-symbols-outlined notranslate">close</span>
							</button>
						}
					</mat-form-field>
				</th>
				<td *matCellDef="let element" [matTooltip]="element.description" mat-cell
					matTooltipPosition="right"> {{ element.name }}
				</td>
			</ng-container>
			<ng-container matColumnDef="value">
				<th *matHeaderCellDef mat-header-cell> Value</th>
				<td *matCellDef="let element" mat-cell>
					@if (toUpdate[element.name] === undefined) {
						<span>{{ element.value }}</span>
					}
					@if (toUpdate[element.name] !== undefined) {
						<mat-form-field
							appearance="fill"
							style="width: 100%;">
							<textarea
								[(ngModel)]="element.value"
								cdkTextareaAutosize
								matInput
								type="text">
							</textarea>
						</mat-form-field>
					}
				</td>
			</ng-container>
			<ng-container matColumnDef="description">
				<th *matHeaderCellDef mat-header-cell style="text-align: end; padding-right: 14px; width: 85px;">
					<button aria-label="close dialog" mat-dialog-close mat-icon-button>
						<span class="material-symbols-outlined notranslate">close</span>
					</button>
				</th>
				<td *matCellDef="let element" mat-cell>
					@if (server.wrapper !== 'MongoDB') {
						@if (toUpdate[element.name] === undefined) {
							<button
								class="lowOpacity"
								(click)="toUpdate[element.name] = element.value"
								mat-icon-button>
								<span class="material-symbols-outlined notranslate">
									edit_square
								</span>
							</button>
							<a [href]="element.link"
							   class="lowOpacity"
							   mat-icon-button
							   target="_blank">
								<span class="material-symbols-outlined notranslate">
									developer_guide
								</span>
							</a>
						}
						@if (toUpdate[element.name] !== undefined) {
							<button
								(click)="setVariable(element)"
								mat-icon-button>
								<span class="material-symbols-outlined notranslate">
									save
								</span>
							</button>
							<button
								(click)="element.value = toUpdate[element.name]; toUpdate[element.name] = undefined;"
								color="warn"
								mat-icon-button>
								<span class="material-symbols-outlined notranslate">
									cancel
								</span>
							</button>
						}
					}
				</td>
			</ng-container>
			<tr *matHeaderRowDef="displayedColumns; sticky: true" cdkDrag cdkDragHandle
				cdkDragRootElement=".cdk-overlay-pane" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns;" mat-row
				style="background-color: rgba(0, 0, 0, 0.25);"></tr>
		</table>
	}
</div>



