#container {
	flex-wrap: wrap;
	justify-content: center;
	display: flex;

	.mat-card {
		margin: 12px;

		.mat-card-header {
			display: block;

			::ng-deep .mat-card-header-text {
				margin: 0px;
			}

			.timing-event {
				margin-top: 12px;

				mat-form-field {
					width: 130px;
				}
			}
		}

		.mat-card-footer {
			margin: 0px;
		}
	}
}
