<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
	<mat-form-field appearance="standard">
		<input #filter
			   (keyup)="filterChanged(filter.value)"
			   autocomplete="off"
			   matInput
			   placeholder="Search Trigger | Code">
		<button (click)="filter.value=''; filterChanged(filter.value)" *ngIf="filter.value"
				aria-label="Clear" mat-icon-button
				matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<a [href]="selectedServer!.driver.docs.trigger" mat-button target="_blank">
		<span class="material-symbols-outlined notranslate">
			developer_guide
		</span>
		Trigger References
	</a>

	<button (click)="add()"
			[disabled]="!isSQL() && triggers && triggers.length > 0"
			color="primary"
			mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			add_box
		</span>
		Trigger
	</button>
</mat-toolbar>

<div id="container">
	<div *ngIf="!triggers || triggers.length < 1"
		 style="margin: 100px; width: 100%; display: flex; place-content: center;">
		No trigger for this table
	</div>
	<div *ngFor="let trigger of triggers">
		<mat-card [hidden]="trigger.hide">
			<mat-card-header>
				<mat-card-subtitle style="display: flex">
					<mat-form-field appearance="fill" *ngIf="isSQL()">
						<mat-label>Trigger Name</mat-label>
						<input [(ngModel)]="trigger.name" matInput required>
					</mat-form-field>
					<div class="flex-spacer"></div>
					<div class="timing-event">
						<ng-container *ngIf="isSQL()">
							<mat-form-field>
								<mat-label>Timing</mat-label>
								<mat-select [(ngModel)]="trigger.timing" required>
									<mat-option *ngFor="let timing of timings" [value]="timing">
										{{timing}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Event</mat-label>
								<mat-select [(ngModel)]="trigger.event" required>
									<mat-option *ngFor="let event of events" [value]="event">
										{{event}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</ng-container>
						<ng-container *ngIf="!isSQL()">
							<mat-form-field>
								<mat-label>Level</mat-label>
								<mat-select [(ngModel)]="trigger.level">
									<mat-option *ngFor="let level of levels" [value]="level">
										{{level}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Action</mat-label>
								<mat-select [(ngModel)]="trigger.action">
									<mat-option *ngFor="let action of actions" [value]="action">
										{{action}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</ng-container>
					</div>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<ngx-monaco-editor
					(onInit)="initBaseEditor($event)"
					[(ngModel)]="trigger.code"
					[options]="editorOptions">
				</ngx-monaco-editor>
			</mat-card-content>
			<mat-card-footer fxLayout="row" fxLayoutAlign="space-around center">
				<button (click)="replace(trigger)"
						[disabled]="trigger.code.length < 1"
						color="primary"
						mat-stroked-button>
					<span class="material-symbols-outlined notranslate">
						device_hub
					</span>
					Save
				</button>

				<button [matMenuTriggerFor]="templatesMenu" mat-button>
					<span class="material-symbols-outlined notranslate">grid_guides</span>
					Template
				</button>
				<mat-menu #templatesMenu="matMenu" xPosition="before">
					<button (click)="loadTemplate(template)"
							*ngFor="let template of templates"
							mat-menu-item>
						{{template | titlecase}}
					</button>
				</mat-menu>

				<button (click)="delete(trigger)"
						color="warn"
						mat-button>
					<span class="material-symbols-outlined notranslate">
						delete
					</span>
					Drop
				</button>
			</mat-card-footer>
		</mat-card>
	</div>

</div>
