@if (blob && value) {
	<button
		(click)="download()"
		[matTooltip]="value.substring(0, 100)"
		mat-icon-button
		matTooltipPosition="left">
		<span class="material-symbols-outlined">
			download
		</span>
	</button>
}

@if (!blob) {
	@if (value === undefined) {
		<span style="color: grey">undefined</span>
	}
	@if (value === null) {
		<span style="color: grey">null</span>
	}
	@if (['true', 'Y', 'YES', 'Yes', true].indexOf(value) >= 0) {
		<span [matTooltip]="value" matTooltipPosition="right" style="font-size: 12px">✅</span>
	}
	@if (['false', 'N', 'NO', 'No', false].indexOf(value) >= 0) {
		<span [matTooltip]="value" matTooltipPosition="right" style="font-size: 10px">❌</span>
	}
	@if ([undefined, null, 'true', 'Y', 'YES', 'Yes', true, 'false', 'N', 'NO', 'No', false].indexOf(value) < 0) {
		@if (fkLink) {
			<a [routerLink]="[fkLink, fkParams]">
				{{ value }}
			</a>
		}
		@if (!fkLink) {
			@if (nested) {
				@if (expand) {
					<ngx-json-viewer
						[expanded]="false"
						[json]="value">
					</ngx-json-viewer>
				}
				@if (!expand) {
					<button
						(click)="expand = true; ref.nativeElement.style.resize = 'both'"
						mat-icon-button>
						<span class="material-symbols-outlined">
							folder_open
						</span>
					</button>
				}
			}
			@if (!nested) {
				{{ value }}
			}
		}
	}
}
