<ng-container *ngIf="fkLink">
	<a [queryParams]="fkParams"
	   [routerLink]="fkLink">
		{{row[column]}}
	</a>
</ng-container>

<ng-container *ngIf="!fkLink">
	<ng-container *ngIf="nested">
		<ng-container *ngIf="expand">
			<ngx-json-viewer
				[expanded]="false"
				[json]="row[column]">
			</ngx-json-viewer>
		</ng-container>
		<ng-container *ngIf="!expand">
			<button
				(click)="expand = true; ref.nativeElement.style.resize = 'both'"
				mat-icon-button>
				<span class="material-symbols-outlined">
					folder_open
				</span>
			</button>
		</ng-container>
	</ng-container>
	<ng-container
		*ngIf="!nested">
		{{row[column]}}
	</ng-container>
</ng-container>
