.container {
	overflow: auto;
	display: flex;
}

.mat-card {
	margin: 12px 12px 16px 12px;
	display: flex;
	flex-direction: column;

	.mat-card-content {

		.default {
			margin-bottom: 18px;

			::ng-deep .mat-button-toggle-label-content {
				line-height: 24px;
			}

			::ng-deep .special {
				font-size: 12px;
				font-family: monospace;
			}
		}

		.actions {
			border: 1px solid #0f80cc;
		}

		> div:not(.actions) {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 12px;

			.mat-form-field {
				flex: 1;
			}

			textarea {
				min-height: 16px;
				resize: vertical;
			}

			.mat-select.hide {
				width: 0;
				visibility: hidden;
			}
		}
	}
}
