.container {
	overflow: auto;
	display: flex;
}

.mat-card {
	display: flex;
	flex-direction: column;
	min-width: 450px;

	.mat-card-content {
		> div:not(.actions) {
			display: flex;
			align-items: center;
			gap: 12px;

			.mat-form-field {
				flex: 1;
			}

			textarea {
				min-height: 16px;
				resize: vertical;
			}

			.mat-select.hide {
				width: 0;
				visibility: hidden;
			}

			::ng-deep .special {
				&:first-child {
					.mat-button-toggle-label-content {
						line-height: 20px;
					}
				}
				.mat-button-toggle-label-content {
					font-size: 12px;
					font-family: monospace;
				}
			}
		}
	}
}

::ng-deep .mat-tooltip-trigger:not(.bold) {
	font-size: 10px;
}
