<div [formGroup]="form" class="container">
	@if (form.get('old')) {
		<div style="display: flex; align-items: center;">
			<mat-card class="oldValues" formGroupName="old">
				<mat-card-content>
					<div>
						<mat-form-field style="width: 100%;">
							<mat-label>Column Name</mat-label>
							<input autocomplete="off"
								   formControlName="name"
								   matInput>
						</mat-form-field>
						<mat-slide-toggle
							color="primary"
							formControlName="nullable">
							Nullable
						</mat-slide-toggle>
					</div>
					<div>
						<mat-form-field>
							<mat-label>Type</mat-label>
							<textarea
								cdkTextareaAutosize
								formControlName="type"
								matInput
								type="text">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field>
							<mat-label>Default value on null</mat-label>
							<input
								formControlName="defaut"
								matInput>
						</mat-form-field>
					</div>
					@if (extraAttributes.length) {
						<div>
							<mat-form-field style="margin-bottom: -1.25em">
								<mat-label>Extras</mat-label>
								<mat-select formControlName="extra" multiple></mat-select>
							</mat-form-field>
						</div>
					}
				</mat-card-content>
			</mat-card>
		</div>
	}

	<div class="newValues" formArrayName="columns" style="display: flex">
		@for (column of formColumn.controls; track column; let i = $index) {
			<mat-card
				[formGroupName]="i">
				<mat-card-content>
					<div>
						<mat-form-field style="width: 100%;">
							<mat-label>Column Name</mat-label>
							<input autocomplete="off"
								   formControlName="name"
								   matInput>
							@if (column.get('name')?.errors && column.get('name')!.errors!['pattern']) {
								<mat-error>
									Prefer alpha, numeric and "_", "-" with 2 min chars
								</mat-error>
							}
							@if (column.get('name')?.errors && column.get('name')!.errors!['unique']) {
								<mat-error>
									Name already used
								</mat-error>
							}
						</mat-form-field>
						<mat-slide-toggle
							color="primary"
							formControlName="nullable">
							Nullable
						</mat-slide-toggle>
					</div>
					<div>
						<mat-form-field>
							<mat-label>Type</mat-label>
							<textarea
								cdkTextareaAutosize
								formControlName="type"
								matInput
								type="text">
							</textarea>
							@if (column.get('type')?.errors && column.get('type')!.errors!['required']) {
								<mat-error>
									Type is required
								</mat-error>
							}
							@if (column.get('type')?.errors && column.get('type')!.errors!['checkParams']) {
								<mat-error>
									Parentheses contains error
								</mat-error>
							}
							@if (column.get('type')?.errors && column.get('type')!.errors!['typeUnknown']) {
								<mat-error>
									Type unknown
								</mat-error>
							}
						</mat-form-field>
						<div>
							<button (click)="typeSuggestion.open()"
									color="primary"
									mat-icon-button
									mat-stroked-button
									matTooltip="Choose from type list">
								<span class="material-symbols-outlined notranslate">
									list
								</span>
							</button>
							<mat-select
								#typeSuggestion
								(selectionChange)="column.get('type')?.patchValue($event.value)"
								class="hide">
								@for (group of typeGroups; track group) {
									<mat-optgroup
										[label]="group.name"
										class="hasBold">
										@for (type of group.list; track type) {
											<mat-option
												[class.bold]="type.bold"
												[value]="type.id">
												<span
													[matTooltip]="type.description ? type.description : ''"
													matTooltipPosition="left">
													{{ type.id }}
												</span>
											</mat-option>
										}
									</mat-optgroup>
								}
							</mat-select>
							@if (selectedServer!.driver.language.arrayType) {
								<button
									(click)="column.get('type')!.patchValue(column.get('type')?.value && column.get('type')!.value.endsWith('[]') ? column.get('type')!.value.substring(0, column.get('type')!.value.indexOf('[]')) : column.get('type')!.value + '[]')"
									[class.mat-mdc-raised-button]="column.get('type')?.value && !isNested(column.get('type')?.value) && column.get('type')!.value.endsWith('[]')"
									color="primary"
									mat-icon-button
									matTooltip="Set type an array of">
									<span class="material-symbols-outlined notranslate">
										data_array
									</span>
								</button>
							}
						</div>
					</div>
					<div class="default">
						<mat-form-field style="margin-bottom: -1.25em">
							<mat-label>Default Value</mat-label>
							<mat-select>
								@if (isSQL(selectedServer)) {
									<mat-option
										(click)="column.get('defaut')!.patchValue(false)"
									>
										Nothing
									</mat-option>
								}
								<mat-option (click)="column.get('defaut')!.patchValue(null)">
									<span class="special">NULL</span>
								</mat-option>
								<mat-option
									(click)="column.get('defaut')!.patchValue('\'\'')">
									Empty String
								</mat-option>
								<mat-option (click)="column.get('defaut')!.patchValue('\'Custom\'')">
									Custom
								</mat-option>
								@for (fct of selectedServer!.driver.language.fctAsDefault; track fct) {
									<mat-option
										(click)="column.get('defaut')?.patchValue(fct)"
									>
										{{ fct }}
									</mat-option>
								}
							</mat-select>
						</mat-form-field>
						<mat-form-field
							[hidden]="column.get('defaut')?.value === false || column.get('defaut')?.value === null"
							style="margin-bottom: -1.25em">
							<textarea
								cdkTextareaAutosize
								formControlName="defaut"
								matInput
								type="text">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						@if (extraAttributes.length) {
							<mat-form-field>
								<mat-label>Extras</mat-label>
								<mat-select formControlName="extra" multiple>
									@for (ext of extraAttributes; track ext) {
										<mat-option
											[value]="ext">
											{{ ext }}
										</mat-option>
									}
								</mat-select>
							</mat-form-field>
						}
					</div>
					@if (!form.get('old')) {
						<div class="actions">
							<button (click)="copyColumn(column.value)"
									color="primary"
									mat-icon-button
									matTooltip="Duplicate Column">
								<span class="material-symbols-outlined notranslate">
									content_copy
								</span>
							</button>
							@if (formColumn.controls.length > 1) {
								<button (click)="formColumn.removeAt(i)"
										color="warn"
										mat-icon-button
										matTooltip="Delete Column">
									<span class="material-symbols-outlined notranslate">
										delete
									</span>
								</button>
							}
						</div>
					}
				</mat-card-content>
			</mat-card>
		}
	</div>
</div>
