<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<h4>
		Process of {{server.name}}
	</h4>

	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<table [dataSource]="processList" mat-table>
		<ng-container matColumnDef="pid">
			<th *matHeaderCellDef mat-header-cell> PID</th>
			<td *matCellDef="let element" mat-cell> {{element.pid}} </td>
		</ng-container>

		<ng-container matColumnDef="duration">
			<th *matHeaderCellDef mat-header-cell> Duration (sec)</th>
			<td *matCellDef="let element" mat-cell> {{element.duration / 1000}} </td>
		</ng-container>

		<ng-container matColumnDef="query">
			<th *matHeaderCellDef mat-header-cell> Query</th>
			<td *matCellDef="let element" mat-cell> {{element.query}} </td>
		</ng-container>

		<ng-container matColumnDef="kill">
			<th *matHeaderCellDef mat-header-cell> Kill</th>
			<td *matCellDef="let element" mat-cell>
				<button
					(click)="kill(element.pid)"
					color="warn" mat-icon-button>
					<span class="material-symbols-outlined notranslate">
						delete
					</span>
				</button>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
	</table>
</div>

