<div mat-dialog-content>
	<table
		style="border-radius: 6px; border: 1px solid transparent;"
		[dataSource]="processList"
		mat-table
		[trackBy]="identify">

		<ng-container matColumnDef="pid">
			<th *matHeaderCellDef mat-header-cell style="min-width: 50px"> PID </th>
			<td *matCellDef="let element" mat-cell> {{element.pid}} </td>
		</ng-container>

		<ng-container matColumnDef="db">
			<th *matHeaderCellDef mat-header-cell style="min-width: 50px"> DB </th>
			<td *matCellDef="let element" mat-cell> {{element.db}} </td>
		</ng-container>

		<ng-container matColumnDef="duration">
			<th *matHeaderCellDef mat-header-cell style="min-width: 60px"> Duration (sec) </th>
			<td *matCellDef="let element" mat-cell> {{(element.duration / 1000) - (element.duration / 1000) % 1 | number}} </td>
		</ng-container>

		<ng-container matColumnDef="query">
			<th *matHeaderCellDef mat-header-cell style="width: 100%">
				<mat-form-field appearance="standard" style="width: 100%">
					<input
						#filter
						(keyup)="filterChanged(filter.value)"
						autocomplete="off"
						matInput
						placeholder="Search Query">
					<button
						(click)="filter.value=''; filterChanged(filter.value)"
						*ngIf="filter.value"
						aria-label="Clear"
						mat-icon-button
						matSuffix>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</th>
			<td *matCellDef="let element" mat-cell> {{element.query}} </td>
		</ng-container>

		<ng-container matColumnDef="kill">
			<th *matHeaderCellDef mat-header-cell>
				<button
					aria-label="close dialog"
					style="position: absolute; top: 0px; right: 0px"
					mat-dialog-close
					mat-icon-button>
					<mat-icon>close</mat-icon>
				</button>
			</th>
			<td *matCellDef="let element" mat-cell>
				<button
					(click)="kill(element.pid)"
					color="warn" mat-icon-button>
					<span class="material-symbols-outlined notranslate">
						stop_circle
					</span>
				</button>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="displayedColumns; sticky: true" cdkDrag cdkDragHandle
			cdkDragRootElement=".cdk-overlay-pane" mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;" mat-row style="background-color: rgba(0, 0, 0, 0.25);"></tr>
	</table>
</div>

