.mat-mdc-dialog-content {
	width: 700px;
	height: 350px;
	resize: both;
	overflow-y: scroll;
	overflow-x: hidden;

	table {
		height: 100%;
		width: 100%;

		td {
			padding: 2px;
		}

		td:first-child {
			padding-left: 14px;
		}

		td:last-child {
			padding-right: 10px;
		}
	}
}
