<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
	<div style="display: flex; align-items: center;">
		<div fxLayout="row" fxLayoutAlign="center center">
			<mat-form-field appearance="outline" class="goToPage">
				<mat-label>
					Page
				</mat-label>
				<mat-select (selectionChange)="changePage($event.value)" [value]="params.page">
					<mat-option *ngFor="let item of [].constructor(Math.floor(querySize / pageSize) + 1); let i = index"
								[value]="i">{{i}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-paginator
				(page)="changePage($event.pageIndex)"
				[length]="querySize"
				[pageIndex]="params.page"
				hidePageSize
				pageSize="{{pageSize}}"
			></mat-paginator>
			<button
				(click)="setAutoUp()"
				[color]="autoUp ? 'primary' : undefined"
				[ngClass]="{'mat-raised-button' : autoUp}"
				mat-button
				matTooltipPosition="right"
				matTooltip="Reload data periodically">
				<span class="material-symbols-outlined notranslate">
					{{autoUp ? 'repeat_one_on' : 'repeat_one'}}
				</span>
			</button>
		</div>
	</div>

	<mat-chip-list #chipList>
		<ng-container
			*ngFor="let chips of params.chips.split(';'); let i = index">
			<ng-container *ngIf="chips">
				<mat-chip
					(removed)="removeChips(chips)"
					color="primary"
					selected>
					{{chips}}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip>
				<ng-container *ngIf="i < params.chips.split(';').length - 2">
					{{configuration.getByName("operand")?.value}}
				</ng-container>
			</ng-container>
		</ng-container>
	</mat-chip-list>

	<div>
		<mat-form-field>
			<mat-label>Sort By</mat-label>
			<mat-select [(ngModel)]="params.sortField">
				<ng-container *ngFor="let column of displayedColumns">
					<mat-option
						*ngIf="column !== actionColum"
						[queryParams]="params"
						[routerLink]="'./'"
						[value]="column"
					>
						{{column}}
					</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>
		<mat-button-toggle-group
			*ngIf="params.sortField"
			[(ngModel)]="params.sortDirection"
			[queryParams]="params"
			[routerLink]="'./'">
			<mat-button-toggle matTooltip="Asc" value="asc">↑</mat-button-toggle>
			<mat-button-toggle matTooltip="Desc" value="desc">↓</mat-button-toggle>
			<mat-button-toggle matTooltip="No Sort" value="">×</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
</mat-toolbar>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="position: absolute; z-index: 10000;"></mat-progress-bar>

<div class="scrollDiv" style="height: calc(100vh - 161px);">

	<table [dataSource]="dataSource" class="table mat-elevation-z8" mat-table>
		<ng-container
			*ngFor="let column of displayedColumns"
			[stickyEnd]="column === actionColum"
			matColumnDef="{{column}}"
		>
			<th *matHeaderCellDef
				mat-header-cell>

				<ng-container *ngIf="column !== actionColum">
					<mat-form-field appearance="legacy">
						<mat-label>{{column}}</mat-label>
						<input (matChipInputTokenEnd)="addChips(column, $event)"
							   [(ngModel)]="filter[column]"
							   [matAutocomplete]="autoGroup"
							   [matChipInputFor]="chipList"
							   matInput>
						<mat-autocomplete #autoGroup="matAutocomplete">
							<mat-option
								(click)="filter[column] = comp.symbol + ' ' + comp.example"
								*ngFor="let comp of selectedServer!.driver.language.comparators"
								[matTooltip]="comp.definition"
								matTooltipPosition="right">
								{{comp.symbol}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</ng-container>

				<ng-container *ngIf="column === actionColum">
					<button
						[disabled]="selection.isEmpty()"
						[matMenuTriggerFor]="actions"
						mat-icon-button>
						<span class="material-symbols-outlined notranslate">
							settings_applications
						</span>
					</button>
					<mat-checkbox
						(change)="$event ? toggleAllRows() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						color="primary">
					</mat-checkbox>
					<span *ngIf="selection.selected.length > 0"
						  style="font-size: 12px">
						<br>
						{{selection.selected.length}} Selected
					</span>
				</ng-container>

			</th>
			<td *matCellDef="let row; let i = index"
				[class.selected]="selection.isSelected(row)"
				mat-cell>

				<ng-container *ngIf="column === actionColum">
					<button (click)="editRow(i, row)"
							mat-icon-button>
						<span class="material-symbols-outlined notranslate">
							edit
						</span>
					</button>

					<mat-checkbox
						(change)="$event ? selection.toggle(row) : null"
						(click)="shiftCheckBox($event, row); $event.stopPropagation();"
						[checked]="selection.isSelected(row)"
						color="primary">
					</mat-checkbox>
				</ng-container>

				<app-cell
					*ngIf="column !== actionColum"
					[column]="column"
					[row]="row"
				></app-cell>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

		<tr *matNoDataRow class="mat-row">
			<td class="mat-cell" colspan="100%">No Data</td>
		</tr>

	</table>
</div>

<mat-menu #actions="matMenu">
	<span (click)="batchUpdate()"
		  mat-menu-item>
		Batch Update
	</span>
	<span (click)="exportRows()"
		  mat-menu-item>
		Export
	</span>
	<span
		(click)="removeRows()"
		mat-menu-item>
		Delete
	</span>
</mat-menu>
