<mat-toolbar class="spaceBetweenCenter" style="box-shadow: none">
	<div style="display: flex; align-items: center;">
		<div style="display: flex; align-items: center;">
			<mat-form-field appearance="outline" class="goToPage">
				<mat-label>
					Page
				</mat-label>
				@if (querySize >= 100000) {
					<input
						#page
						(change)="changePage(page.value); refreshData()"
						[max]="querySize"
						[value]="params.page"
						matInput
						min="0"
						type="number">
				}
				@if (querySize < 100000) {
					<mat-select
						(selectionChange)="changePage($event.value); refreshData()"
						[value]="params.page">
						@for (item of [].constructor(Math.floor(querySize / params.pageSize) + 1); track item; let i = $index) {
							<mat-option [value]="i">
								{{ i }}
							</mat-option>
						}
					</mat-select>
				}
			</mat-form-field>
			<mat-paginator
				(page)="changePage($event.pageIndex, $event.pageSize); refreshData()"
				[length]="querySize"
				[pageIndex]="params.page"
				[pageSizeOptions]="[50, 100, 500, 2000]"
				[pageSize]="params.pageSize"
			></mat-paginator>
		</div>
		<button
			(click)="refreshData()"
			mat-icon-button>
			<span class="material-symbols-outlined notranslate">
				repeat
			</span>
		</button>
	</div>

	<mat-chip-grid #chipList style="font-size: 12px;">
		@for (chips of params.chips.split(';'); track chips; let i = $index) {
			@if (chips) {
				<mat-chip
					(removed)="removeChips(chips)"
					color="primary"
					highlighted>
					{{ chips }}
					<button matChipRemove>
						<span class="material-symbols-outlined notranslate" style="font-size: 18px">
							cancel
						</span>
					</button>
				</mat-chip>
				@if (i < (params.chips.split(';').length - 2)) {
					{{ configuration.getByName("operand")?.value }}
				}
			}
		}
	</mat-chip-grid>

	<div>
		<mat-form-field appearance="outline">
			<mat-label>Sort By</mat-label>
			<mat-select
				(selectionChange)="refreshData()"
				[(ngModel)]="params.field">
				@for (column of displayedColumns; track column) {
					@if (column !== actionColum) {
						<mat-option
							[value]="column">
							{{ column }}
						</mat-option>
					}
				}
			</mat-select>
		</mat-form-field>
		@if (params.field) {
			<mat-button-toggle-group
				(change)="refreshData()"
				[(ngModel)]="params.direction">
				<mat-button-toggle matTooltip="A → Z" value="asc">↑</mat-button-toggle>
				<mat-button-toggle matTooltip="Z → A" value="desc">↓</mat-button-toggle>
				<mat-button-toggle matTooltip="No sort" value="">×</mat-button-toggle>
			</mat-button-toggle-group>
		}
		<button
			(click)="setAutoUp()"
			mat-icon-button
			matTooltip="Reload data periodically"
			matTooltipPosition="left">
			<span class="material-symbols-outlined notranslate">
				{{ autoUp ? 'repeat_one_on' : 'repeat_one' }}
			</span>
		</button>
	</div>
</mat-toolbar>

@if (isLoading) {
	<mat-progress-bar mode="indeterminate" style="position: absolute; z-index: 10000;"></mat-progress-bar>
}

<div class="scrollDiv" style="height: calc(100vh - 154px);">

	<table [dataSource]="dataSource" class="table mat-elevation-z8" mat-table range-selection>
		@for (column of displayedColumns; track column; let i = $index) {
			<ng-container
				[stickyEnd]="column === actionColum"
				matColumnDef="{{column}}"
			>
				<th *matHeaderCellDef
					[style.min-width]="column.length * 8 + 'px'"
					class="resizeColumn"
					mat-header-cell>
					@if (column !== actionColum) {
						<mat-form-field>
							<mat-label>{{ column }}</mat-label>
							<input (matChipInputTokenEnd)="addChips(column, $event)"
								   [(ngModel)]="filter[column]"
								   [matAutocomplete]="autoGroup"
								   [matChipInputFor]="chipList"
								   matInput>
							<mat-autocomplete
								#autoGroup="matAutocomplete"
								(optionSelected)="filter[column] = $event.option.value">
								@for (comp of selectedServer!.driver.language.comparators; track comp) {
									<mat-option
										[matTooltip]="comp.definition"
										[value]="comp.symbol + ' ' + comp.example"
										matTooltipPosition="right">
										{{ comp.symbol }}
									</mat-option>
								}
							</mat-autocomplete>
						</mat-form-field>
					}
					@if (column === actionColum && dataSource.data.length) {
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<div>
								<button
									[disabled]="selection.isEmpty()"
									[matMenuTriggerFor]="actions"
									mat-icon-button>
									<span class="material-symbols-outlined notranslate">
										more_vert
									</span>
								</button>
								<mat-checkbox
									(change)="$event ? toggleAllRows() : null"
									[checked]="selection.hasValue() && isAllSelected()"
									[indeterminate]="selection.hasValue() && !isAllSelected()"
									color="primary">
								</mat-checkbox>
							</div>
							@if (selection.selected.length > 0) {
								<span
									style="font-size: 12px; margin-top: -2px; color: white">
									{{ selection.selected.length }} selected
								</span>
							}
						</div>
					}
				</th>
				<td *matCellDef="let row; let i = index"
					[class.selected-row]="selection.isSelected(row)"
					mat-cell>
					@if (column === actionColum) {
						<button
							(click)="editRow(i, row)"
							[disableRipple]="true"
							mat-icon-button>
							<span class="material-symbols-outlined notranslate">
								edit
							</span>
						</button>
						<mat-checkbox
							(change)="$event ? selection.toggle(row) : null"
							(click)="shiftCheckBox($event, row); $event.stopPropagation();"
							[checked]="selection.isSelected(row)"
							[disableRipple]="true"
							color="primary">
						</mat-checkbox>
					}
					@if (column !== actionColum) {
						<app-cell
							[column]="column"
							[stringify]="stringify"
							[value]="row[column]"
						></app-cell>
					}
				</td>
			</ng-container>
		}

		<tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

		<tr *matNoDataRow class="mat-row">
			<td class="mat-cell" colspan="100%">No Data</td>
		</tr>

	</table>
</div>

<mat-menu #actions="matMenu">
	<span (click)="batchUpdate()"
		  mat-menu-item>
		Batch Update
	</span>
	<span (click)="exportRows()"
		  mat-menu-item>
		Export
	</span>
	<span (click)="duplicateRows()"
		  mat-menu-item>
		Duplicate
	</span>
	<span
		(click)="removeRows()"
		mat-menu-item>
		Delete
	</span>
</mat-menu>
