.table {
	.mat-mdc-header-cell .mat-mdc-form-field {
		width: 100%;
		margin: 0.3em 0 -0.6em 0;

		::ng-deep .mat-mdc-form-field-infix {
			width: inherit;
		}
	}

	::ng-deep .mat-mdc-paginator-range-label {
		min-width: 120px;
	}
}

.sortBy {
	display: flex;
	align-items: center;

	::ng-deep .mdc-floating-label:not(.mdc-floating-label--float-above) {
		top: 18px;
	}

	::ng-deep .mat-mdc-form-field-infix {
		padding: 7px 0px;
		min-height: 0px;
	}
}
