.table {
	.mat-header-cell .mat-form-field {
		width: 100%;
		margin-bottom: -0.8em;

		::ng-deep .mat-form-field-infix {
			width: inherit;
		}
	}
}

::ng-deep .mat-chip-list-wrapper {
	max-height: 50px;
	overflow: auto;
}

::ng-deep .mat-paginator-range-label {
	min-width: 120px;
}
