<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<h4>
		Stats of {{server.name}}
	</h4>

	<mat-button-toggle-group
		appearance="legacy"
		style="font-size: 13px"
		[(ngModel)]="mode"
		(change)="refreshData()">
		<mat-button-toggle value="raw">
			Total
		</mat-button-toggle>
		<mat-button-toggle value="sinceOpen">
			Relative
		</mat-button-toggle>
		<mat-button-toggle value="difference">
			Live
		</mat-button-toggle>
	</mat-button-toggle-group>

	<mat-form-field style="font-size: 13px; width: 60px; margin-bottom: -0.25em">
		<mat-label>Refresh rate</mat-label>
		<input
			matInput
			[(ngModel)]="refreshRate"
			type="number"
			min="1"
			max="20"
			required>
	</mat-form-field>

	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content style="resize: both; overflow: auto; width: 800px; height: 400px; min-width: 400px; min-height: 200px; padding: 0px 8px;">
	<canvas
		[datasets]="datasets"
		[labels]="labels"
		[options]="lineChartOptions"
		[type]="'line'"
		style="height: 100% !important; width: 100% !important; border-radius: 4px; background-color: rgba(0, 0, 0, 0.25); box-shadow: #000000 0 6px 6px -6px inset;"
		baseChart>
	</canvas>
</div>

