<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<h4>
		Stats of {{server.name}}
	</h4>

	<mat-checkbox
		style="font-size: 14px"
		(change)="showLive = !showLive"
		color="primary">
		Foreground latest values
	</mat-checkbox>

	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content style="resize: both; overflow: auto; width: 600px; height: 300px; min-width: 400px; min-height: 200px; padding: 0px 8px;">
	<canvas
		*ngIf="datasets.length > 0"
		[datasets]="datasets"
		[labels]="labels"
		[options]="lineChartOptions"
		[type]="'line'"
		style="height: 100% !important; width: 100% !important;"
		baseChart>
	</canvas>
</div>

