.bottom-sheet {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.error {
		overflow: auto !important;
		text-overflow: initial !important;
		white-space: pre;
		max-height: 20vh;
	}

	.actions {
		margin: -6px -14px -8px 10px;
		border-left: 1px solid var(--mat-divider-color, var(--mat-app-outline));
	}

	#google {
		height: 18px;
		width: 18px;
		vertical-align: middle;

		::ng-deep > svg {
			height: 100%;
			width: 100%;
			vertical-align: super;
		}
	}
}
