<div class="bottom-sheet">
	<div class="error">
		{{data.error.error}}
	</div>

	<div>
		<a	target="_blank"
			href="https://google.com/search?q={{data.error.error}}"
			matTooltip="Search on web"
			mat-icon-button>
			<span class="material-symbols-outlined notranslate">
				travel_explore
			</span>
		</a>

		<button
			(click)="assistant()"
			matTooltip="Ask IA for help"
			mat-icon-button>
			<span class="material-symbols-outlined notranslate">
				support_agent
			</span>
		</button>

		<button
			mat-icon-button
			(click)="bottomSheetRef.dismiss()">
			<span class="material-symbols-outlined notranslate">
				close
			</span>
		</button>
	</div>
</div>
