<div mat-dialog-title>
	<h2>Update Data</h2>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<div style="display: flex; justify-content: space-between;">
		<div *ngFor="let column of updateSuggestions | keyvalue">
			<mat-form-field appearance="fill">
				<mat-label>Suggestion of `{{column.key}}`</mat-label>
				<input #filter
					   #trigger="matAutocompleteTrigger"
					   [matAutocomplete]="auto"
					   matInput>
				<mat-autocomplete #auto="matAutocomplete">
					<ng-container *ngFor="let suggestion of column.value">
						<mat-option
							(click)="snackBar.open('Copied to clipboard', '╳', {duration: 3000}); trigger.closePanel();"
							*ngIf="suggestion.toString().indexOf(filter.value) >= 0"
							[cdkCopyToClipboard]="suggestion.toString()"
							[value]="suggestion">
							{{suggestion}}
						</mat-option>
					</ng-container>
				</mat-autocomplete>
			</mat-form-field>
		</div>
	</div>
	<ngx-monaco-editor
		[(ngModel)]="str"
		[options]="editorOptions"
		style="height: 50vh; width: 38vw"
	></ngx-monaco-editor>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" mat-dialog-actions>
	<button (click)="update()"
			[disabled]="!isTouched()"
			color="primary"
			mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			edit
		</span>
		Apply Changes
	</button>
</div>
