<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div>
		<h3>Update data</h3>
	</div>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<span class="material-symbols-outlined notranslate">close</span>
	</button>
</div>
<div mat-dialog-content>
	@if (Object.keys(relationHelper).length > 0 || Object.keys(datesHelper).length > 0) {
		<div
			style="display: flex; justify-content: space-between; padding: 12px 12px 0px 12px; gap: 20px;">
			@for (column of relationHelper | keyvalue; track column) {
				<div style="flex: 1;">
					<mat-form-field style="width: 100%">
						<mat-label>{{ column.key }}</mat-label>
						<input
							#filter
							[matAutocomplete]="auto"
							[value]="data[column.key]"
							matInput>
						<mat-autocomplete
							#auto="matAutocomplete"
							(optionSelected)="setValue(column.key, $event.option.value)">
							@for (suggestion of column.value; track suggestion) {
								@if (JSON.stringify(suggestion).indexOf(filter.value) >= 0) {
									<mat-option
										[value]="suggestion">
										{{ suggestion | json }}
									</mat-option>
								}
							}
						</mat-autocomplete>
					</mat-form-field>
				</div>
			}
			@for (column of datesHelper | keyvalue; track column) {
				<div style="flex: 1;">
					<mat-form-field style="width: 100%">
						<mat-label>{{ column.key }}</mat-label>
						<input
							#time
							(change)="setValue(column.key, column.value(time.value))"
							[value]="data[column.key]"
							matInput
							type="datetime-local">
					</mat-form-field>
				</div>
			}
		</div>
	}
	<ngx-monaco-editor
		[(ngModel)]="str"
		[options]="editorOptions"
		style="min-width: 100%;"
	></ngx-monaco-editor>
</div>
<mat-dialog-actions>

	@if (selectedServer?.driver!.language.extendedJSONDoc) {
		<a
			[href]="selectedServer?.driver!.language.extendedJSONDoc"
			mat-button
			target="_blank">
			<span class="material-symbols-outlined notranslate">
				info
			</span>
			JSON Doc
		</a>
	}

	<button
		(click)="revert()"
		[disabled]="!isTouched()"
		mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			restart_alt
		</span>
		Revert
	</button>

	@if (strError() !== null) {
		<mat-error
			style="width: 420px">
			<div [innerHtml]="strError()"></div>
		</mat-error>
	}
	@if (strError() === null) {
		<button
			(click)="update()"
			[disabled]="!isTouched()"
			mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				edit
			</span>
			Apply Changes
		</button>
	}
</mat-dialog-actions>
