<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div>
		<h3>Update Data</h3>
	</div>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<div *ngIf="Object.keys(updateSuggestions).length > 0"
		style="display: flex; justify-content: space-between; padding: 12px 12px 0px 12px;">
		<div *ngFor="let column of updateSuggestions | keyvalue">
			<mat-form-field appearance="fill">
				<mat-label>{{column.key}}</mat-label>
				<input #filter
					   [matAutocomplete]="auto"
					   matInput>
				<mat-autocomplete #auto="matAutocomplete">
					<ng-container *ngFor="let suggestion of column.value">
						<mat-option
							(click)="setValue(column.key, suggestion)"
							*ngIf="suggestion.toString().indexOf(filter.value) >= 0"
							[value]="suggestion">
							{{suggestion}}
						</mat-option>
					</ng-container>
				</mat-autocomplete>
			</mat-form-field>
		</div>
	</div>
	<ngx-monaco-editor
		[(ngModel)]="str"
		[options]="editorOptions"
	></ngx-monaco-editor>
</div>
<mat-dialog-actions>
	<button (click)="update()"
			[disabled]="!isTouched()"
			color="primary"
			mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			edit
		</span>
		Apply Changes
	</button>
</mat-dialog-actions>
