<mat-toolbar
	fxLayout="row"
	fxLayoutAlign="space-between center">
	<mat-form-field appearance="legacy" style="width: 250px; margin-bottom: -1.25em">
		<input (keyup)="filterChanged(filter.value)"
			   autocomplete="off"
			   matInput
			   #filter
			   placeholder="Search complex or table">
		<button (click)="filterChanged('')"
				*ngIf="filter.value"
				aria-label="Clear" mat-icon-button
				matSuffix>
			<span class="material-symbols-outlined notranslate">close</span>
		</button>
	</mat-form-field>

	<a href="https://docs.webdb.app/complexes"
	   mat-button
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			dictionary
		</span>
	</a>
</mat-toolbar>

<mat-accordion multi>
	<mat-expansion-panel *ngFor="let type of Object.keys(complexes)">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{Object.values(complexes[type]).length}}
			</mat-panel-title>
			<mat-panel-description>
				{{type.charAt(0).toUpperCase() + type.slice(1).toLowerCase().replace("_", " ")}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div *ngFor="let complex of complexes[type]" class="complex" [hidden]="complex.hide">
			<div>
				<div>
					<h4>{{complex.name}}</h4>
					<div *ngIf="complex.table">
						on <a [routerLink]="['/' + selectedServer!.name, selectedDatabase!.name, complex.table]">{{complex.table}}</a>
						<span *ngIf="complex.column">.{{complex.column}}</span>
					</div>
				</div>
				<button
					mat-icon-button>
					<span class="material-symbols-outlined notranslate">
						edit
					</span>
				</button>
			</div>

			<pre *ngIf="complex.value"><code
				[languages]="[selectedServer?.driver!.language.id, 'JSON']"
				[highlight]="complex.value">
			</code></pre>
		</div>
	</mat-expansion-panel>
</mat-accordion>
