.complex {
	padding: 1px;

	.mat-card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 8px 20px;

		h4 {
			margin-bottom: 0px;
		}
	}

	.hljs {
		margin: 0px;
	}
}
