<div cdkDrag
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div style="display: flex">
		<button
			cdkDragHandle
			mat-icon-button
			style="cursor: grab">
			<span class="material-symbols-outlined">
				drag_indicator
			</span>
		</button>
		<h3>Add Column for {{selectedTable.name}}</h3>
	</div>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-dialog-content>
	<app-column [form]="form"></app-column>
</mat-dialog-content>

<mat-dialog-actions>
	<button (click)="addColumn()"
			*ngIf="!form.get('old')"
			color="primary"
			mat-stroked-button>
		<span class="material-symbols-outlined notranslate">
			add
		</span>
		Column
	</button>

	<a *ngIf="selectedServer"
	   [href]="selectedServer!.driver.docs.types"
	   mat-button
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			help
		</span>
		{{selectedServer.wrapper}} Data Types
	</a>

	<button (click)="apply()"
			[disabled]="!form.valid"
			color="primary"
			mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			view_column_2
		</span>
		Apply
	</button>
</mat-dialog-actions>
