table {
	::ng-deep .hoverClass {
		background-color: rgba(33, 150, 243, 0.3) !important;
	}
}

::ng-deep {
	.oldValues {
		display: none !important;
	}

	.showOlds {
		.oldValues {
			display: block !important;
		}

		.newValues {
			display: none;
		}
	}
}
