<mat-toolbar class="spaceBetweenCenter">
	<div>
		<mat-form-field appearance="fill" class="searchField">
			<input
				#filter
				(keyup)="applyFilter(filter.value)"
				autocomplete="off"
				matInput
				placeholder="Filter column">
			@if (filter.value) {
				<button (click)="filter.value=''; applyFilter(filter.value)" aria-label="Clear"
						mat-icon-button
						matSuffix>
					<span class="material-symbols-outlined notranslate">close</span>
				</button>
			}
		</mat-form-field>
	</div>

	@if (!selectedTable?.view) {
		<button (click)="addColumn()"
				mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				add_box
			</span>
			Column
		</button>
	}
</mat-toolbar>

<table [dataSource]="structureSource" class="table mat-elevation-z8" mat-table>
	@for (column of structureColumns; track column) {
		<ng-container
			[stickyEnd]="column === actionColum"
			matColumnDef="{{column}}"
		>
			<th *matHeaderCellDef mat-header-cell>
				{{ column === actionColum ? '' : (column | titlecase) }}
			</th>
			<td *matCellDef="let row;" [class]="'hover-' + row['name']" mat-cell>
				@if (column === actionColum) {
					<button
						(click)="updateColumn(row)"
						mat-icon-button>
						<span class="material-symbols-outlined notranslate">
							drive_file_rename_outline
						</span>
					</button>
					@if (!isSQL()) {
						<button
							(click)="harmonizeColumn(row)"
							hidden
							mat-icon-button>
							<span class="material-symbols-outlined notranslate">
								equalizer
							</span>
						</button>
					}
					<button
						(click)="deleteStructure(row)"
						color="warn"
						mat-icon-button>
						<span class="material-symbols-outlined notranslate">
							delete_forever
						</span>
					</button>
				}
				@if (column !== actionColum) {
					<app-cell
						[column]="column"
						[value]="row[column]"
						style="max-width: 50vw">
					</app-cell>
				}
			</td>
		</ng-container>
	}

	<tr *matHeaderRowDef="structureColumns; sticky: true" mat-header-row></tr>
	<tr *matRowDef="let row; columns: structureColumns;" mat-row></tr>

	<tr *matNoDataRow class="mat-mdc-row">
		<td class="mat-mdc-cell" colspan="100%">No Structure</td>
	</tr>
</table>


<mat-toolbar class="spaceBetweenCenter" style="margin-top: 65px;">
	<div>Indexes</div>
	<button (click)="addIndex()" mat-stroked-button>
		<span class="material-symbols-outlined notranslate">
			bolt
		</span>
		Add index
	</button>
</mat-toolbar>

<table [dataSource]="indexSource" class="table mat-elevation-z8" mat-table>
	@for (column of indexColumns; track column) {
		<ng-container
			[stickyEnd]="column === actionColum"
			matColumnDef="{{column}}"
		>
			<th *matHeaderCellDef mat-header-cell>
				{{ column === actionColum ? '' : (column | titlecase) }}
			</th>
			<td *matCellDef="let row; let i = index" [class]="getClasses(row['columns'])" mat-cell>
				@if (column === actionColum) {
					<button (click)="deleteIndex(row)"
							color="warn"
							mat-icon-button>
						<span class="material-symbols-outlined notranslate">
							delete
						</span>
					</button>
				}
				{{ display(row, column) }}
			</td>
		</ng-container>
	}

	<tr *matHeaderRowDef="indexColumns; sticky: true" mat-header-row></tr>
	<tr *matRowDef="let row; columns: indexColumns;" mat-row></tr>

	<tr *matNoDataRow class="mat-mdc-row">
		<td class="mat-mdc-cell" colspan="100%">No Index</td>
	</tr>

</table>
