<mat-toolbar style="display: inline-table; z-index: 100">

	<div fxLayout="row"
		 fxLayoutAlign="space-between center">
		<mat-form-field appearance="standard" style="width: 220px; margin-bottom: -1.25em">
			<input #filter
				   placeholder="Search Types"
				   autocomplete="off"
				   matInput>
			<button (click)="filter.value=''" *ngIf="filter.value" aria-label="Clear"
					mat-icon-button
					matSuffix>
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<button (click)="add.toggleAttribute('hidden')"
				color="accent"
				mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				font_download
			</span>
			Create Type
		</button>
	</div>

	<div #add hidden style="padding: 12px; display: flex; flex-direction: column; justify-content: center">
		<ngx-monaco-editor
			[options]="editorOptions"
			style="width: 100%"
		></ngx-monaco-editor>

		<br>

		<button (click)="addType()"
				color="accent"
				mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				text_increase
			</span>
			Save
		</button>
	</div>

</mat-toolbar>

<div style="height: calc(100vh - 56px); overflow: auto">

	<mat-card *ngIf="selectedTypes && selectedTypes.length < 1">
		<mat-card-header>
			No custom type yet
			<br>
			You can add one over there ↗
		</mat-card-header>
	</mat-card>

	<mat-card *ngFor="let type of selectedTypes"
			  [hidden]="type.name.toLowerCase().indexOf(filter.value.toLowerCase()) < 0"
			  class="type">
		<mat-card-content>
			<ngx-monaco-editor
				[(ngModel)]="type.elements"
				[options]="editorOptions"
				style="width: 100%"
			></ngx-monaco-editor>
		</mat-card-content>

		<mat-card-actions>
			<button color="accent"
					mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
					save
				</span>
				Save
			</button>
		</mat-card-actions>
	</mat-card>
</div>
