<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" *ngIf="form">

	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
		<div>Alter Column {{form.get('old')?.get('name')!.value}}</div>

		<div>
			<button (click)="update()"
					[disabled]="!form.valid || JSON.stringify(form.get('old')?.value) === JSON.stringify(form.get('columns')!.value[0])"
					color="primary"
					mat-flat-button>
				<span class="material-symbols-outlined notranslate">
					drive_file_rename_outline
				</span>
				Apply
			</button>
		</div>
	</mat-toolbar>

	<app-column [form]="form"></app-column>
</div>
