#container {
	height: calc(100vh - 56px) !important;
	min-height: inherit !important;
}

#tableList {
	height: 100%;
	width: 140px;

	&.extend {
		width: inherit;

		.entity .mat-icon-button {
			display: block !important;
		}
	}

	mat-selection-list {
		overflow: auto;

		.entity {
			display: flex;
			flex-direction: column;

			&:hover {
				.mat-icon-button {
					opacity: 1;
				}
			}

			.mat-icon-button {
				opacity: 0.3;
				align-self: center;
				display: none;
			}
		}
	}
}

