<mat-sidenav-container autosize fxFlexFill id="container">
	<mat-sidenav #sidenav disableClose mode="side" opened>
		<mat-list fxLayout="column" id="tableList">

			<mat-list-item>
				<mat-form-field style="width: 100%">
					<input #filter
						   (keyup)="filterChanged(filter.value)"
						   autocomplete="off"
						   matInput
						   placeholder="Search Table | Column">
					<button (click)="filter.value=''; filterChanged(filter.value)" *ngIf="filter.value"
							aria-label="Clear" mat-button mat-icon-button
							matSuffix>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</mat-list-item>

			<mat-list-item
				*ngIf="!selectedDatabase || !selectedDatabase?.tables || selectedDatabase.tables!.length < 1">
				No table
			</mat-list-item>

			<mat-selection-list [multiple]="false">
				<div *ngFor="let table of selectedDatabase?.tables"
					 [hidden]="table.hide"
					 class="entity">
					<div style="display: flex">
						<div [style.background-color]="tooltips[table.name] ? '#1e1e1e' : 'inherit'"
							style="display: flex;">
							<button
								(click)="getTooltip(table)"
								mat-icon-button>
								<span class="material-symbols-outlined notranslate" style="font-size: 18px;">
									{{table.view ? 'table_view' : 'table'}}
								</span>
							</button>
						</div>
						<mat-list-option
							(click)="changeTable(table.name)"
							[class.mat-list-single-selected-option]="selectedTable?.name === table.name"
							[style.border-right]="selectedTable?.name === table.name ? '2px solid #2196f3' : undefined">
							{{table.name}}
						</mat-list-option>
					</div>
					<div *ngIf="tooltips[table.name]"
						 style="background-color: #1e1e1e"
					>
						<div [innerHtml]="tooltips[table.name]"></div>
						<mat-divider></mat-divider>
					</div>
				</div>
			</mat-selection-list>

			<span fxFlex></span>

			<mat-list-item>
				<button (click)="addTable()"
						color="primary"
						mat-stroked-button
						style="width: 100%;">
					<span class="material-symbols-outlined notranslate">
						table
					</span>
					Create Table
				</button>
			</mat-list-item>

		</mat-list>
	</mat-sidenav>

	<div [hidden]="!selectedDatabase?.tables?.length">
		<nav [tabPanel]="tabPanel" mat-tab-nav-bar>
			<a #rla="routerLinkActive" *ngFor="let tab of tabs"
			   [active]="rla.isActive"
			   [routerLinkActive]="['mat-list-single-selected-option', 'mat-tab-label-active']"
			   [routerLink]="[tab.link]"
			   mat-tab-link
			   style="width: 100%">
				<span class="material-symbols-outlined notranslate">{{tab.icon}}</span>
				{{tab.link | titlecase}}
			</a>
		</nav>
		<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
