<mat-toolbar
	fxLayout="row"
	fxLayoutAlign="space-between center">

	<mat-form-field>
		<mat-label>Search History</mat-label>
		<input [(ngModel)]="filter"
			   autocomplete="off"
			   matInput>
	</mat-form-field>

	<button
		(click)="queryHistory = []; history.saveLocal(queryHistory)"
		*ngIf="queryHistory.length"
		mat-button
		matTooltip="Clear History">
		<span class="material-symbols-outlined notranslate">
			clear_all
		</span>
	</button>

</mat-toolbar>

<div style="height: calc(100vh - 56px); overflow: auto">
	<mat-card *ngFor="let his of queryHistory"
			  [hidden]="his.query.toLowerCase().indexOf(filter.toLowerCase()) < 0"
			  [style.background-color]="his.star ? '#1e1e1e' : 'inherit'"
			  class="history">
		<mat-card-content>
		<pre><code [highlight]="his.query"
				   [languages]="[selectedServer.driver!.language.id]"
				   [lineNumbers]="true">
		</code></pre>
		</mat-card-content>

		<mat-card-actions>
			<h4>
				{{his.nbResult}} rows
			</h4>

			<h4>
				{{his.date | date: 'HH:mm:ss dd/MM'}}
			</h4>

			<div>
				<button mat-icon-button
						(click)="changeStar(his)"
						[color]="his.star ? 'primary': undefined">
					<span class="material-symbols-outlined notranslate">star</span>
				</button>

				<button
					(click)="goToQuery(his.query)"
					mat-icon-button>
					<span class="material-symbols-outlined notranslate">replay</span>
				</button>

				<button
					(click)="snackBar.open('Copied to clipboard', '╳', {duration: 3000})"
					[cdkCopyToClipboard]="his.query"
					mat-icon-button
					matTooltip="Copy to clipboard"
					matTooltipPosition="above">
					<span class="material-symbols-outlined notranslate">
						file_copy
					</span>
				</button>
			</div>
		</mat-card-actions>
	</mat-card>
</div>
