.mat-card {
	padding: 1px;
	box-shadow: none;

	.mat-card-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 18px 14px;
	}

	.mat-card-content {
		margin-bottom: 0px;

		.actions {
			right: 1px;
			top: 1px;
		}
	}

	h4 {
		margin: 0px 10px;
	}
}

pre code.hljs {
	margin: 0px;
}
