.mat-card {
	margin: 24px 18px;
	padding: 0px;

	.mat-card-content {
		margin: 0px;
	}

	.mat-card-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 18px 12px;
	}

	h4 {
		margin: 0px 10px;
	}
}
