#container {

	#connections {
		align-items: stretch;
		height: 164px;
		display: flex;

		> div {
			width: 50%;
			display: flex;
			gap: 12px;
			justify-content: center;
			align-items: center;

			> div {
				display: flex;
				gap: 4px;
				flex-direction: column;

				.mat-form-field {
					margin-bottom: -1.25em;
				}
			}
		}
	}
}

#loader {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: calc(100vh - 220px);
	background: #aeaeae54;
}
