table {
	width: 100%;

	.mat-button-toggle-group {
		margin-left: 15px;
		display: flex;

		.mat-button-toggle {
			flex: 1;
		}
	}
}

:host ::ng-deep {
	.mat-tab-label:last-child {
		width: 0px;
		min-width: 0px;
	}
}

h3 {
	margin: -2px 0px;
}

