<div mat-dialog-title>
	<h3>App Settings</h3>
	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content cdkFocusInitial>
	<table style="padding: 20px">
		<tr *ngFor="let config of configuration.configs">
			<td>{{config.description}}</td>
			<td>
				<mat-form-field appearance="legacy" style="margin-left: 15px">
					<mat-select #select (selectionChange)="update(config.name, select.value)"
								[value]="configuration.getByName(config.name)?.value">
						<mat-option *ngFor="let value of config.values" [value]="value">
							{{value}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td colspan="100%">
				<div style="display: flex; align-items: center;">
					<mat-form-field style="flex: 1;" appearance="outline">
						<mat-label>OpenAI Key</mat-label>
						<input
							#key
							(change)="goodKey(key.value) ? update('openAiKey', key.value) : undefined"
							[value]="configuration.getByName('openAiKey')?.value"
							matInput>
					</mat-form-field>
					<mat-error *ngIf="!goodKey(key.value)">
						Bad key format
					</mat-error>
					<a href="https://platform.openai.com/account/api-keys"
					   mat-button
					   matTooltip="OpenAI keys page"
					   target="_blank">
						<mat-icon svgIcon="chatgpt"></mat-icon>
					</a>
				</div>
			</td>
		</tr>
	</table>
</div>
