.settings {
	width: 100%;
	padding: 20px;

	.mat-button-toggle-group {
		margin-left: 15px;
		display: flex;

		.mat-button-toggle {
			flex: 1;
		}
	}
}

.shortcuts {
	width: 92%;
	margin: 12px auto 30px;
	display: flex;
	flex-wrap: wrap;

	h4 {
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: 0;
	}

	.keys {
		min-width: 33%;

		> div {
			color: #1de9b6;
		}
	}
}

:host ::ng-deep {

	.mat-tab-labels {
		justify-content: space-between;

		> .mat-tab-label:not(:last-child) {
			width: 100%;
		}

		> .mat-tab-label:last-child {
			width: 0px;
			min-width: 0px;
		}
	}

	.mat-tab-body-wrapper {
		max-height: 65vh;
		width: 650px;
	}

	.mat-card-header-text {
		width: 100%;
	}

	.mat-button-toggle-label-content {
		line-height: 32px;
	}
}

h3 {
	margin: -2px 0px;
}

