table {
	width: 100%;

	.mat-button-toggle-group {
		margin-left: 15px;
		display: flex;

		.mat-button-toggle {
			flex: 1;
		}
	}
}

:host {
	::ng-deep .mat-tab-label {
		width: 100%;
	}

	::ng-deep .mat-tab-label:last-child {
		width: 0px;
		min-width: 0px;
	}

	::ng-deep .mat-card-header-text {
		width: 100%;
	}
}

h3 {
	margin: -2px 0px;
}

