<div fxFlexFill fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
		<mat-form-field style="width: 50%;">
			<mat-label>Table Name</mat-label>
			<input
				formControlName="name"
				autocomplete="off"
				matInput>
			<mat-error *ngIf="form.get('name')?.errors && form.get('name')!.errors!['pattern']">
				Prefer alpha, numeric and "_", "-"
			</mat-error>
		</mat-form-field>

		<button (click)="create()"
				[disabled]="!form.valid"
				color="primary"
				mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				add
			</span>
			Create Table
		</button>
	</mat-toolbar>

	<app-column [form]="form"></app-column>
</div>
