.new {
	margin: 20px;

	td {
		padding: 0px 10px;
	}
}

table {
	.details {
		display: none;
		height: 0px;

		> td > div {
			padding: 14px;
		}
	}

	.expended {
		display: table-row;
	}

	.expanded-row td {
		background: #1e1e1e !important;
		border-top: 1px solid #1de9b6;
	}

	.expended td {
		background: #1e1e1e !important;
		border-bottom: 1px solid #1de9b6;
	}
}
