mat-drawer {
	min-width: 33vw;
	max-width: 83vw;
}

#title {
	color: #2196f3;
	font-size: 30px;
	vertical-align: middle;
	font-weight: initial;
}

#server {
	display: flex;
	align-items: center;

	> div {
		font-weight: 400;
		font-size: 16px;

		span {
			vertical-align: middle;
			margin: 0px 10px;
		}
	}
}

.panel {
	border-bottom: none;
	flex: 1;

	::ng-deep .mat-tab-links {
		justify-content: center;
	}

	.mat-tab-link {
		min-width: inherit;
		height: 56px;
		width: 62px;
		color: #1de9b6;
	}

	::ng-deep .mat-ink-bar {
		top: 0;
		bottom: inherit;
	}
}

@media (max-width: 1200px) {
	#server {
		display: none;
	}
}
