mat-drawer {
	min-width: 33vw;
	max-width: 83vw;
}

#title {
	color: #2196f3;
	font-size: 30px;
	vertical-align: middle;
	font-weight: initial;
}

#server {
	display: flex;
	align-items: center;

	> div {
		line-height: 20px;
		font-weight: 400;
		font-size: 18px;
		text-align: center;

		span {
			margin: 0px 10px;
		}
	}
}

.panel {
	border-bottom: none;

	.mat-tab-link {
		min-width: inherit;
		height: 56px;
	}

	::ng-deep .mat-ink-bar {
		top: 0;
		bottom: inherit;
	}

	::ng-deep .mat-tab-link {
		color: #ff9800;
	}
}
