mat-drawer {
	min-width: 33vw;
	max-width: 83vw;
	resize: horizontal;
	direction: rtl;

	&::-webkit-resizer {
		border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5) !important;
	}

	::ng-deep .mat-drawer-inner-container {
		direction: ltr;
	}
}

.mat-drawer-content {
	display: flex;
	flex-direction: column;

	.mat-toolbar {
		background-color: #444444;
		z-index: 1000;

		.material-symbols-outlined {
			font-size: 22px
		}
	}
}

#server {
	display: flex;
	align-items: center;
	padding-left: 20px;

	> div {
		font-weight: 400;
		font-size: 16px;

		span {
			vertical-align: middle;
			margin-left: 4x;
		}
	}
}

.panel {
	border-bottom: none;
	flex: 1;

	::ng-deep .mat-tab-links {
		justify-content: center;
	}

	.mat-tab-link {
		min-width: inherit;
		height: 56px;
		color: #1de9b6;
		padding: 0px 20px;
	}

	::ng-deep .mat-ink-bar {
		top: 0;
		bottom: inherit;
	}
}

@media (max-width: 1200px) {
	#server {
		display: none;
	}
}
