<mat-drawer-container>
	<mat-drawer #drawer mode="over" position="end" id="right">
		<router-outlet *ngIf="loading >= 100" name="right"></router-outlet>
	</mat-drawer>

	<mat-drawer-content style="display: flex; flex-direction: column">
		<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
					 style="background-color: #444444; z-index: 1000">
			<div fxLayout="row" fxLayoutGap="12px" style="align-items: center">
				<button id="home"
						mat-raised-button
						routerLink="/">
					<mat-icon style="height: 32px; width: 32px;" svgIcon="webdb"></mat-icon>
				</button>

				<div *ngIf="selectedServer && selectedDatabase" id="server">
					<div>
						<span>{{selectedServer.host}}</span>:<span>{{selectedServer.port}}</span>
						<span style="color: #ff9800;">{{selectedDatabase.name}}</span>
					</div>
				</div>
			</div>

			<div class="flex-spacer"></div>

			<nav [tabPanel]="tabPanel"
				 (click)="drawer.toggle();"
				 mat-tab-nav-bar
				 class="panel"
				 color="accent">
				<a #rla="routerLinkActive"
				   *ngFor="let panel of panels"
				   [routerLinkActive]="'mat-button-toggle-checked'"
				   [routerLink]="[{outlets: {right: [panel.link]}}]"
				   [active]="rla.isActive"
				   mat-tab-link>
					<span class="material-symbols-outlined notranslate">
						{{panel.icon}}
					</span>
				</a>
			</nav>
			<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

			<div class="flex-spacer"></div>

			<button [matMenuTriggerFor]="help" mat-button>
				<span class="material-symbols-outlined notranslate">
					help
				</span>
			</button>
			<button [matMenuTriggerFor]="user" mat-button>
				<span class="material-symbols-outlined notranslate">
					person
				</span>
			</button>
			<button (click)="showSettings()" mat-button>
				<span class="material-symbols-outlined notranslate">
					settings
				</span>
			</button>
		</mat-toolbar>

		<div *ngIf="loading < 100"
			 style="height: calc(100vh - 56px); align-self: center; display: flex;">
			<div *ngIf="loading >= 0"
				 style="align-self: center;">
				<mat-spinner
					color="accent"
					mode="indeterminate"
					style="margin: 0px auto;"></mat-spinner>
				<h2 style="color: #ff9800">Loading {{activatedRoute.snapshot.paramMap.get('database')}} ...</h2>
			</div>

			<mat-error *ngIf="loading === -1">
				Can't connect to {{activatedRoute.snapshot.paramMap.get('server')}}
				/{{activatedRoute.snapshot.paramMap.get('database')}}, please check server availability
			</mat-error>
		</div>

		<router-outlet *ngIf="loading >= 100"></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>

<mat-menu #help="matMenu" class="external">
	<a (click)="showConnection()"
	   mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			signal_wifi_statusbar_not_connected
		</span>
		Connection Details
	</a>
	<a (click)="request.reloadServer()"
	   mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			refresh
		</span>
		Reload Connection
	</a>
	<a (click)="showLogs()"
	   mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			receipt_long
		</span>
		App Logs
	</a>
	<mat-divider></mat-divider>
	<a href="https://gitlab.com/web-db/landing/-/issues"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			bug_report
		</span>
		Issues
	</a>
	<a href="https://gitlab.com/web-db/landing/-/wikis/home"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			menu_book
		</span>
		Documentation
	</a>
	<mat-divider></mat-divider>
	<a mat-menu-item>
		<mat-icon svgIcon="webdb"></mat-icon>
		v{{packageJson.version}}
	</a>
</mat-menu>

<mat-menu #user="matMenu" class="external">
	<a (click)="showSubscription()"
	   mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			shopping_bag
		</span>
		Subscription
	</a>
	<a [href]="environment.stripeUserLink"
	   target="_blank"
	   mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			credit_card
		</span>
		Billing
	</a>
</mat-menu>
