<mat-drawer-container>
	<mat-drawer #drawer id="right" mode="over" position="end">
		<router-outlet *ngIf="loading >= 100" name="right"></router-outlet>
	</mat-drawer>

	<mat-drawer-content style="display: flex; flex-direction: column">
		<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
					 style="background-color: #444444; z-index: 1000">
			<div fxLayout="row" fxLayoutGap="12px" style="align-items: center">
				<button id="home"
						mat-button
						style="background: radial-gradient(ellipse at bottom,#1b2735 0%,#090a0f 100%);"
						routerLink="/">
					<mat-icon style="height: 32px; width: 32px;" svgIcon="webdb"></mat-icon>
				</button>

				<div *ngIf="selectedServer && selectedDatabase" id="server">
					<div>
						<span>{{selectedServer.host}}</span>:<span>{{selectedServer.port}}</span>
						<span style="color: #1de9b6;">{{selectedDatabase.name}}</span>
					</div>
				</div>
			</div>

			<ng-container *ngIf="selectedServer">
				<nav [tabPanel]="tabPanel"
					 class="panel"
					 color="accent"
					 mat-tab-nav-bar>
					<a #rla="routerLinkActive"
					   *ngFor="let panel of panels"
					   (click)="drawer.toggle();"
					   [active]="rla.isActive"
					   [routerLinkActive]="'mat-button-toggle-checked'"
					   [routerLink]="[{outlets: {right: [panel.link]}}]"
					   mat-tab-link>
						<span class="material-symbols-outlined notranslate">
							{{panel.icon}}
						</span>
					</a>
				</nav>
				<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
			</ng-container>
			<app-top-right></app-top-right>
		</mat-toolbar>

		<div *ngIf="loading < 100"
			 style="height: calc(100vh - 56px); align-self: center; display: flex;">
			<div style="align-self: center;">
				<ng-container *ngIf="loading >= 0">
					<mat-spinner
						color="accent"
						mode="indeterminate"
						style="margin: 0px auto;"></mat-spinner>
					<h2 style="color: #1de9b6">Loading {{activatedRoute.snapshot.paramMap.get('database')}} ...</h2>
				</ng-container>

				<div *ngIf="loading < 0">
					<mat-error>
						<h3>
							Can't connect to {{activatedRoute.snapshot.paramMap.get('server')}} / {{activatedRoute.snapshot.paramMap.get('database')}}
							<br>
							Common problems are :
							<ul>
								<li>Bad connection credentials</li>
								<li>Database server doesn't respond correctly</li>
								<li>Backend doesn't respond</li>
							</ul>
						</h3>
					</mat-error>

					<mat-divider style="margin: 20px 0px;"></mat-divider>

					<div style="display: flex; justify-content: space-around; gap: 20px">
						<button
							routerLink="/"
							color="primary"
							mat-stroked-button>
							<span class="material-symbols-outlined notranslate">
								wifi_find
							</span>
							Connection List
						</button>

						<button
							(click)="showError()"
							mat-stroked-button>
							<span class="material-symbols-outlined notranslate">
								report
							</span>
							Error Logs
						</button>

						<button
							mat-stroked-button
							color="accent"
							(click)="ngOnInit()">
							<span class="material-symbols-outlined notranslate">
								refresh
							</span>
							Reload Page
						</button>
					</div>
				</div>
			</div>
		</div>

		<router-outlet *ngIf="loading >= 100"></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
