.logo {
	cursor: pointer;

	img {
		border-radius: 4px;
		border: 3px solid transparent;
		max-width: 104px;
		height: 44px;
		padding: 2px 4px;
	}
}

:host ::ng-deep .mat-vertical-content {
	padding: 24px !important;
}

.login {
	gap: 20px;
	display: flex;
	align-items: center;

	.mat-form-field, button {
		width: 30%;
	}
}
