<div style="display: flex; flex-direction: row;">
	<mat-stepper
		style="width: 85%;"
		orientation="vertical"
		[selectedIndex]="newConnection && !server.ssh.host ? 0 : 1">
		<mat-step *ngIf="newConnection">
			<ng-template matStepLabel>Driver</ng-template>

			<div style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
				<div (click)="changeWrapper(wrapper)"
					 *ngFor="let wrapper of driverNames"
					 class="logo">
					<img src="/assets/drivers/{{wrapper | lowercase}}.svg"
						[style.border-color]="wrapper === server.wrapper ? '#2196f3' : 'transparent'">
				</div>

				<a href="https://webdb.app/page/features"
				   mat-flat-button
				   color="accent"
				   target="_blank">
					<span class="material-symbols-outlined notranslate">
						database
					</span>
					Compatibility List
				</a>
			</div>
		</mat-step>

		<mat-step optional *ngIf="server.wrapper">
			<ng-template matStepLabel>SSH Tunnel</ng-template>
			<div class="login">
				<mat-form-field appearance="fill">
					<mat-label>Host / IP</mat-label>
					<input [(ngModel)]="server.ssh.host" autocomplete="off" matInput>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Port</mat-label>
					<input [(ngModel)]="server.ssh.port" matInput max="47000" min="1" type="number">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>User</mat-label>
					<input [(ngModel)]="server.ssh.user" autocomplete="off" matInput>
				</mat-form-field>
			</div>

			<div class="login">
				<div>
					<div>
						<button
							(click)="snackBar.open('Code copied', '╳', {duration: 3000})"
							[cdkCopyToClipboard]="'cat ~/.ssh/id_rsa'"
							style="width: 160px"
							mat-button>
							cat ~/.ssh/id_rsa
						</button>
						<button
							(click)="snackBar.open('Code copied', '╳', {duration: 3000})"
							[cdkCopyToClipboard]='"ssh-keygen -t rsa -N \"\" -f ~/.ssh/id_rsa"'
							style="width: 160px"
							mat-button>
							ssh-keygen
						</button>
					</div>
					<mat-form-field appearance="standard" style="width: 100%;">
						<mat-label>Private Key</mat-label>
						<textarea
							[(ngModel)]="server.ssh.privateKey"
							cdkTextareaAutosize
							matInput
							style="max-height: 100px;">
						</textarea>
					</mat-form-field>
				</div>


				<span>
					OR
				</span>

				<mat-form-field appearance="standard" style="width: 30%">
					<mat-label>Password</mat-label>
					<input [(ngModel)]="server.ssh.password"
						   autocomplete="off"
						   matInput
						   type="{{!showPassword ? 'password' : 'text'}}">
					<mat-icon (click)="showPassword = !showPassword" matSuffix
							  style="cursor: pointer; position: absolute; right: 0px; top: -22px">
						{{!showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>

				<div style="display: flex;">
					<button (click)="testSSH()"
							[disabled]="!server.ssh.host || !server.ssh.port || !server.ssh.user"
							[ngClass]="{'mat-flat-button' : sshStatus === 'notConnected'}"
							color="accent"
							style="width: 200px;"
							mat-button>
						Test SSH
					</button>

					<mat-progress-spinner
						*ngIf="sshStatus === 'loading'"
						[diameter]="30"
						color="accent"
						mode="indeterminate">
					</mat-progress-spinner>
				</div>
			</div>
		</mat-step>
		<mat-step *ngIf="server.wrapper">
			<ng-template matStepLabel>Address & Credentials</ng-template>
			<div>
				<div class="login">
					<mat-form-field appearance="fill">
						<mat-label>Host / IP</mat-label>
						<input [(ngModel)]="server.host" autocomplete="off" matInput required>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Port</mat-label>
						<input [(ngModel)]="server.port" matInput max="47000" min="1" required type="number">
					</mat-form-field>
				</div>
				<div class="login">
					<mat-form-field appearance="outline">
						<mat-label>User</mat-label>
						<input [(ngModel)]="server.user" matInput>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Password</mat-label>
						<input [(ngModel)]="server.password"
							   autocomplete="off"
							   matInput
							   type="{{!showPassword ? 'password' : 'text'}}">
						<mat-icon (click)="showPassword = !showPassword" matSuffix
								  style="cursor: pointer; position: absolute; right: 0px; top: -22px">
							{{!showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
					</mat-form-field>
				</div>
			</div>
		</mat-step>
		<mat-step *ngIf="server.wrapper">
			<ng-template matStepLabel>Driver Parameters</ng-template>

			<div style="display: flex;">
				<div style="display: flex; flex-direction: column; gap: 20px; padding: 16px;">
					<button (click)="useDefault()"
							color="primary"
							mat-stroked-button>
						<span class="material-symbols-outlined notranslate">
							device_reset
						</span>
						Use Default Params
					</button>

					<a [href]="server.driver ? server.driver.docs.driver : ''"
					   mat-button
					   mat-stroked-button
					   target="_blank">
						<span class="material-symbols-outlined notranslate">
							developer_guide
						</span>
						{{server.wrapper}} Driver References
					</a>
				</div>

				<div style="flex: 1;">
					<ngx-monaco-editor
						[(ngModel)]="params"
						[options]="editorOptions"
						style="width: 100%; resize: vertical">
					</ngx-monaco-editor>
				</div>
			</div>
		</mat-step>
	</mat-stepper>

	<mat-divider vertical></mat-divider>

	<div style="width: 15%; display: flex; flex-direction: column; justify-content: space-evenly; padding: 20px;">
		<button
			(click)="forget()"
			*ngIf="!newConnection"
			color="warn"
			mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				wifi_off
			</span>
			Forget
		</button>

		<div style="display: flex;">
			<button
				(click)="testServer()"
				[disabled]="!server.host || !server.port || connectionStatus === 'loading'"
				style="flex: 1;"
				color="primary"
				mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
					network_wifi_2_bar
				</span>
				Test
			</button>

			<mat-spinner
				diameter="30"
				*ngIf="connectionStatus === 'loading'"
				mode="indeterminate">
			</mat-spinner>
		</div>

		<button
			(click)="saveConnection()"
			[disabled]="connectionStatus !== 'connected'"
			color="primary"
			mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				wifi_add
			</span>
			Save
		</button>

		<button
			(click)="edited.emit()"
			mat-button>
			<mat-icon>close</mat-icon>
			Discard
		</button>
	</div>
</div>
