.logo {
	cursor: pointer;
	display: flex;
	padding: 2px 6px;
	width: 98px;
	height: 42px;
	align-items: stretch;
	border: 3px solid transparent;
	border-radius: 4px;
	justify-content: center;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

:host ::ng-deep .mat-vertical-content {
	padding: 24px !important;
}

:host ::ng-deep .monaco-editor {
	position: absolute !important;
}

.login {
	gap: 20px;
	display: flex;
	align-items: center;

	.mat-form-field, button {
		width: 250px;
	}
}

@media (max-width: 1200px) {
	.login {
		.mat-form-field, button {
			width: 170px !important;
		}
	}
}
