[submodule "postgresDBSamples"]
	path = postgresDBSamples
	url = https://github.com/morenoh149/postgresDBSamples.git
[submodule "mongodb-sample-dataset"]
	path = mongodb-sample-dataset
	url = https://github.com/neelabalan/mongodb-sample-dataset.git
[submodule "mysql-samples"]
	path = mysql-samples
	url = https://github.com/enzinier/mysql-samples.git
[submodule "employee-sample-database"]
	path = employee-sample-database
	url = https://github.com/bytebase/employee-sample-database
