version: '3.8'

services:
    mysql:
        image: mysql
        command: mysqld --default-authentication-plugin=mysql_native_password
        ports:
            - "3307:3306"
        environment:
            MYSQL_ROOT_PASSWORD: notSecureChangeMe

    cockroach:
        image: cockroachdb/cockroach
        command: start-single-node --insecure
        ports:
            - "26257:26257"
        environment:
            COCKROACH_USER: 'root'
            COCKROACH_PASSWORD: 'notSecureChangeMe'

    mariadb:
        image: mariadb
        ports:
            - "3308:3306"
        environment:
            MYSQL_ROOT_PASSWORD: notSecureChangeMe

    postgre:
        image: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: notSecureChangeMe

    mongo:
        image: mongo
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: notSecureChangeMe

    cassandra:
        image: cassandra
        ports:
            - "9042:9042"
        environment:
            - CASSANDRA_CLUSTER_NAME=cloudinfra

#    sqldata:
#        image: mcr.microsoft.com/mssql/server:2022-latest
#        environment:
#            - MSSQL_SA_PASSWORD=yourStrong(!)Password
#            - ACCEPT_EULA=Y
#        ports:
#            - "1433:1433"

#    oracle-db:
#        image: container-registry.oracle.com/database/enterprise:latest
#        environment:
#            - ORACLE_SID=ORCLCDB
#            - ORACLE_PDB=ORCLPDB1
#            - ORACLE_PWD=Oracle_123
#        ports:
#            - 1521:1521
