@use '@angular/material' as mat;

@import "@angular/material/theming";
@import 'highlight.js/scss/base16/materia';

@include mat.core();

$angular-primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$orange-palette, 500, 100, 900);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-dark-theme: mat.define-dark-theme((
	color: (
		primary: $angular-primary,
		accent: $angular-accent,
		warn: $angular-warn,
	),
	density: -2,
));

$bottom-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

@include mat.all-component-themes($angular-dark-theme);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.mat-tooltip, .mat-select-panel, .mat-menu-panel {
	white-space: pre-line !important;
	background-color: rgba(30, 30, 30, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.12);
}

[hidden] {
	display: none !important;
}

.mat-drawer, .mat-sidenav {
	background-color: #303030;
}

.table {
	width: 100%;
	white-space: nowrap;
	border-spacing: 0px;
	background-color: transparent;

	.mat-header-cell {
		color: mat.get-color-from-palette($angular-primary, default);
		font-size: 15px;
		border: none;

		input {
			width: 100%;
			margin: 0px;
		}
	}

	.mat-column---ACTION-- {
		width: 0px !important;
		min-width: 0px !important;
	}

	.mat-cell, .mat-header-cell {
		min-width: 60px;
		padding: 0px 14px !important;
	}

	.mat-cell {
		font-size: 13px;
		border: 1px solid transparent;

		.material-symbols-outlined {
			font-size: 20px;
		}

		.mat-icon-button {
			width: 36px;
			height: 36px;
			line-height: 36px;
		}
	}

	.mat-checkbox {
		margin: 0px 8px;
	}

	.mat-row:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.mat-cell:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.mat-table-sticky {
		background-color: #1e1e1e !important;
		box-shadow: $bottom-shadow;
	}

	tbody {
		.mat-icon-button, .mat-checkbox {
			opacity: 0.3;
		}

		.mat-row {
			height: 38px;
		}

		.mat-row:hover .mat-cell, .mat-cell.selected {
			.mat-icon-button, .mat-checkbox {
				opacity: 1;
			}
		}

		.mat-row:hover {
			background-color: #1e1e1e;
		}

		.mat-cell.selected {
			background-color: rgba(33, 150, 243, 0.3);
		}
	}
}

a {
	color: mat.get-color-from-palette($angular-primary, default)
}

.snack-error {
	background-color: mat.get-color-from-palette($angular-warn, default)
}

.mat-snack-bar-container {
	max-width: initial !important;
}

.mat-simple-snack-bar-content {
	overflow: auto !important;
	text-overflow: initial !important;
	white-space: pre;
	max-height: 30vh;
}

.mat-paginator {
	background-color: inherit;

	.mat-paginator-range-label {
		font-size: 14px;
		margin: 0 12px 0 24px;
	}
}

.cdk-drag-handle {
	cursor: grab;
}

.mat-dialog-container {
	padding: 0px !important;
	overflow: inherit !important;
	box-shadow: $bottom-shadow;
	filter: brightness(0.7);
	transition: filter 0.1s linear;

	&:hover, &:has(iframe) {
		filter: brightness(0.9);
	}

	&:focus, &:active, &:focus-within {
		filter: brightness(1);
	}

	.mat-dialog-title {
		background-color: #2196f3;
		border-radius: 3px 3px 0px 0px;
		color: #1e1e1e;
		display: flex !important;
		justify-content: space-between;
		margin: 0px;

		> div {
			display: flex;
			align-items: center;
		}

		h3 {
			align-self: center;
			margin: 0px 30px 0px 10px !important;
		}
	}

	.mat-dialog-content {
		padding: 0px !important;
		margin: 0px !important;
		max-height: 80vh;
	}

	.mat-dialog-actions {
		display: flex;
		justify-content: space-around;
		gap: 12px;
		padding: 10px;
		margin: 0px;
	}
}

.mat-menu-content .material-symbols-outlined {
	margin-right: 16px;
	vertical-align: middle;
}

.mat-autocomplete-panel, .mat-select-panel {
	max-height: 50vh !important;
}

.flex-spacer {
	flex: 1 1 auto;
}

.scrollDiv {
	width: 100%;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-left: 1px solid #444;
}

::-webkit-scrollbar-thumb {
	background: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

::-webkit-resizer {
	border-width: 3px;
	border-style: outset;
	border-color: rgb(255 255 255 / 0%) rgb(255 255 255 / 50%) rgb(255 255 255 / 50%) rgb(255 255 255 / 0%);
	border-radius: 0px;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.mat-toolbar {
	box-shadow: $bottom-shadow;
	background-color: #1e1e1e;

	.mat-form-field, .mat-select, .mat-slide-toggle, .mat-button-toggle-group {
		font-size: 14px !important;
	}
}

.cdk-overlay-dark-backdrop {
	background-color: rgba(189, 189, 189, 0.6);
}

.goToPage {
	margin-bottom: -1.25em;
	width: 90px;

	.mat-form-field-infix {
		padding: 0.5em 0;
	}
}

pre {
	margin: 0px;
}

.mat-card {
	margin: 24px 18px;
	padding: 0px;

	&:hover {
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

		.actions {
			display: block;
		}
	}

	.actions {
		display: none;
		position: absolute;
		right: 5px;
		top: 4px;
		background-color: rgba(30, 30, 30, 0.8);
		flex-direction: column;
		border-radius: 20px;
	}
}

code, .hljs {
	font-size: 13px;
	white-space: pre-wrap;
	tab-size: 34px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.25);
	font-family: 'Fira Code', monospace;
	display: block;
	padding: 10px 12px;
	box-shadow: none;
	transition: box-shadow 0.1s linear;

	app-root & {
		margin: 8px 0px;

		&:hover {
			box-shadow: 0px 0px 0px 2px mat.get-color-from-palette($angular-primary, default);
		}
	}
}

.hljs-ln-code {
	padding-left: 20px !important;
}

ngx-monaco-editor {
	min-height: 330px;
	min-width: 350px;
	width: 40vw;
	resize: both;
	overflow: auto;

	.editor-container {
		height: 100% !important;
	}
}

:root {
	--ngx-json-array: #eaeaea;
	--ngx-json-object: #eaeaea;
	--ngx-json-toggler: white;
	--ngx-json-key: #2196f3;
	--ngx-json-separator: white;
	--ngx-json-value: white;

	--ngx-json-string: white;
	--ngx-json-number: white;
	--ngx-json-boolean: white;
	--ngx-json-date: white;
	--ngx-json-null: white;
	--ngx-json-undefined: white;

	--ngx-json-font-family: 'Noto Sans', sans-serif;
}

#right {
	.table {
		.mat-header-cell {
			color: mat.get-color-from-palette($angular-accent, default);
		}
	}

	code, .hljs {
		&:hover {
			box-shadow: 0px 0px 0px 2px mat.get-color-from-palette($angular-accent, default);
		}
	}
}

//https://stackoverflow.com/questions/45089178/how-to-get-primary-or-accent-color-of-currently-applied-theme-in-angular-materia
