@use '@angular/material' as mat;

@import "@angular/material/theming";
@import 'highlight.js/scss/base16/materia';

@include mat.core();

$angular-primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$orange-palette, 500, 100, 900);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-dark-theme: mat.define-dark-theme((
	color: (
		primary: $angular-primary,
		accent: $angular-accent,
		warn: $angular-warn,
	),
	density: -2,
));

$bottom-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

@include mat.all-component-themes($angular-dark-theme);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.mat-tooltip {
	backdrop-filter: blur(2px);
	white-space: pre-line !important;
	background-color: #1e1e1e;
}

[hidden] {
	display: none !important;
}

.mat-drawer, .mat-sidenav, .mat-dialog-container {
	background-color: #303030;
}

.table {
	width: 100%;
	white-space: nowrap;
	border-spacing: 0px;
	background-color: transparent;

	.mat-header-cell {
		color: mat.get-color-from-palette($angular-primary, default);
		font-size: 15px;

		input {
			width: 100%;
			margin: 0px;
		}
	}

	.mat-cell, .mat-header-cell {
		min-width: 60px;
		padding: 0px 14px !important;
	}

	.mat-cell {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;

		.material-symbols-outlined {
			font-size: 20px;
		}

		.mat-icon-button {
			width: 36px;
			height: 36px;
			line-height: 36px;
		}
	}

	.mat-checkbox {
		margin: 0px 8px;
	}

	.mat-row:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.mat-cell:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.mat-table-sticky {
		background-color: #1e1e1e !important;
		box-shadow: $bottom-shadow;
	}

	tbody {
		.mat-icon-button, .mat-checkbox {
			opacity: 0.3;
		}

		.mat-row {
			height: 38px;
		}

		.mat-row:hover .mat-cell, .mat-cell.selected {
			.mat-icon-button, .mat-checkbox {
				opacity: 1;
			}
		}

		.mat-row:hover .mat-cell {
			border-top: 1px solid mat.get-color-from-palette($angular-primary, default);
			border-bottom: 1px solid mat.get-color-from-palette($angular-primary, default);
		}

		.mat-cell.selected {
			background-color: #1e1e1e;
		}
	}
}

a {
	color: mat.get-color-from-palette($angular-primary, default)
}

.snack-error {
	background-color: mat.get-color-from-palette($angular-warn, default)
}

.mat-snack-bar-container {
	max-width: initial !important;
}

.mat-simple-snack-bar-content {
	overflow-x: auto !important;
	text-overflow: initial !important;
	white-space: pre;
}

.mat-paginator {
	background-color: inherit;

	.mat-paginator-range-label {
		font-size: 14px;
		margin: 0 12px 0 24px;
	}
}

.mat-dialog-title {
	display: flex !important;
	justify-content: space-between;
	border-bottom: 1px solid #555555;

	h2 {
		margin: 0px 30px 0px 0px !important;
		align-self: center;
	}
}

.mat-dialog-content {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.mat-autocomplete-panel, .mat-select-panel {
	max-height: 50vh !important;
}

.flex-spacer {
	flex: 1 1 auto;
}

.scrollDiv {
	width: 100%;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-left: 1px solid #444;
}

::-webkit-scrollbar-thumb {
	background: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

.mat-toolbar {
	box-shadow: $bottom-shadow;
	background-color: #121212;

	.mat-form-field, .mat-select, .mat-slide-toggle, .mat-button-toggle-group {
		font-size: 14px !important;
	}
}

.cdk-overlay-dark-backdrop {
	background-color: rgba(189, 189, 189, 0.6);
}

.goToPage {
	margin-bottom: -1.25em;
	width: 90px;

	.mat-form-field-infix {
		padding: 0.5em 0;
	}
}

.mat-card {
	margin: 24px 18px;
	padding: 0px;

	&:hover {
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

		.actions {
			display: block;
		}
	}

	.actions {
		display: none;
		position: absolute;
		right: 5px;
		top: 4px;
		background-color: rgba(0, 0, 0, 0.7);
		flex-direction: column;
		border-radius: 20px;
	}
}

code, .hljs {
	margin: 8px 0px;
	white-space: pre-wrap;
	tab-size: 34px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.25);
	font-family: 'Fira Code', monospace;
	display: block;
	padding: 10px 12px;
	box-shadow: none;
	transition: box-shadow 0.1s linear;

	&:hover {
		box-shadow: 0px 0px 0px 2px mat.get-color-from-palette($angular-primary, default);
	}
}

.hljs-ln-code {
	padding-left: 20px !important;
}

.editor-container {
	height: 100% !important;
}

.monaco-editor .overflowingContentWidgets > * {
	z-index: 100000 !important;
}

:root {
	--ngx-json-array: #eaeaea;
	--ngx-json-object: #eaeaea;
	--ngx-json-toggler: white;
	--ngx-json-key: mat.get-color-from-palette($angular-primary, default);
	--ngx-json-separator: white;
	--ngx-json-value: white;

	--ngx-json-string: white;
	--ngx-json-number: white;
	--ngx-json-boolean: white;
	--ngx-json-date: white;
	--ngx-json-null: white;
	--ngx-json-undefined: white;

	--ngx-json-font-family: 'Noto Sans', sans-serif;
}

#right {
	.table {
		.mat-header-cell {
			color: mat.get-color-from-palette($angular-accent, default);
		}
		.mat-row:hover .mat-cell {
			border-top: 1px solid mat.get-color-from-palette($angular-accent, default);
			border-bottom: 1px solid mat.get-color-from-palette($angular-accent, default);
		}
	}

	code, .hljs {
		&:hover {
			box-shadow: 0px 0px 0px 2px mat.get-color-from-palette($angular-accent, default);
		}
	}
}

//https://stackoverflow.com/questions/45089178/how-to-get-primary-or-accent-color-of-currently-applied-theme-in-angular-materia
