<div>
	<div #scrollAnchor></div>

	<div style="min-height: calc(100vh - 155px);">
		<app-code (addHistory)="addHistory($event)"
				  [query]="replayQuery"
				  [selectedTable]="selectedTable">
		</app-code>
	</div>

	<div *ngIf="queryHistory?.data?.length" style="margin-top: 50px;">
		<table [dataSource]="queryHistory" class="history" mat-table>

			<ng-container matColumnDef="query">
				<th *matHeaderCellDef mat-header-cell>
					<input
						(keyup)="filterHistory($event)"
						autocomplete="off"
						matInput
						placeholder="Search Query History">
				</th>
				<td *matCellDef="let element"
					[innerHTML]="highlight(element.query)"
					[style.background-color]="element.star ? '#1e1e1e' : 'inherit'"
					mat-cell>
				</td>
			</ng-container>

			<ng-container matColumnDef="nbResult" stickyEnd>
				<th *matHeaderCellDef mat-header-cell>Rows</th>
				<td *matCellDef="let element"
					[style.background-color]="element.star ? '#1e1e1e' : 'inherit'"
					mat-cell> {{element.nbResult}} </td>
			</ng-container>

			<ng-container matColumnDef="star" stickyEnd>
				<th *matHeaderCellDef mat-header-cell>Fav</th>
				<td *matCellDef="let element"
					[style.background-color]="element.star ? '#1e1e1e' : 'inherit'"
					mat-cell>
					<mat-checkbox
						(change)="changeStar(element)"
						[checked]="!!element.star"
						color="primary">
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="replay" stickyEnd>
				<th *matHeaderCellDef mat-header-cell>Replay</th>
				<td *matCellDef="let element"
					[style.background-color]="element.star ? '#1e1e1e' : 'inherit'"
					mat-cell>
					<button (click)="replay(element.query, scrollAnchor)" mat-icon-button>
						<span class="material-symbols-outlined">replay</span>
					</button>
				</td>
			</ng-container>

			<tr *matHeaderRowDef="['query', 'nbResult', 'star', 'replay']; sticky: true" mat-header-row></tr>
			<tr *matRowDef="let row; columns: ['query', 'nbResult', 'star', 'replay'];" mat-row
				[style.white-space]="configuration.getByName('breakSpaces')?.value ? 'break-spaces' : undefined"></tr>
		</table>
	</div>
</div>
