#container {
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	height: calc(100vh - 162px);

	&.diff {
		height: 330px !important;
	}
}

ngx-monaco-diff-editor {
	height: calc(100vh - 494px) !important;
}

ngx-monaco-editor {
	width: 40%;
	height: 100% !important;
}

#results {
	flex: 1;
	height: 100%;
	overflow: auto;
}
