#container {
	display: flex;
	height: calc(100vh - 154px);

	&.diff {
		height: 330px !important;

		ngx-monaco-editor {
			width: 50% !important;
			resize: none;
		}
	}
}

ngx-monaco-diff-editor {
	height: calc(100vh - 486px) !important;
}

ngx-monaco-editor {
	width: 40%;
	height: 100% !important;
}

#results {
	flex: 1;
	height: 100%;
	overflow: auto;
}
