<mat-toolbar
	class="spaceBetweenCenter"
	style="padding: 10px 20px;">

	<div style="display: flex; align-items: center;">
		@if (!diff) {
			<button (click)="runQuery()"
					[disabled]="!query || query.trim().length < 1"
					color="primary"
					mat-raised-button>
				<span class="material-symbols-outlined notranslate">send</span>
			</button>
		}

		@if (diff) {
			<button
				(click)="runQuery()"
				color="primary"
				mat-raised-button>
				<span class="material-symbols-outlined notranslate">difference</span>
			</button>
		}

		<div style="width: 12px"></div>

		<button
			(click)="formatQuery()"
			mat-icon-button
			matTooltip="Format query">
			<span class="material-symbols-outlined notranslate">format_indent_increase</span>
		</button>

		@if (selectedTable) {
			<button
				[matMenuTriggerFor]="templatesMenu"
				mat-icon-button
				matTooltip="Prebuilds queries">
				<span class="material-symbols-outlined notranslate">factory</span>
			</button>
		}
		<mat-menu #templatesMenu="matMenu" xPosition="before">
			@for (template of Object.keys(this.selectedServer!.driver.queryTemplates); track template) {
				<button (click)="loadTemplate(template)"
						mat-menu-item>
					{{ template }}
				</button>
			}
		</mat-menu>

		<button
			(click)="diff = !diff; query2 = query;"
			[class.mat-mdc-raised-button]="diff"
			mat-icon-button
			matTooltip="Compare mode">
			<span class="material-symbols-outlined notranslate">splitscreen_left</span>
		</button>

		<a [href]="selectedServer!.driver.docs.language"
		   [matTooltip]='(selectedServer!.driver.language.id === "sql" ? "SQL" : (selectedServer!.driver.language.id | titlecase)) + " References"'
		   mat-icon-button
		   target="_blank">
			<span class="material-symbols-outlined notranslate">developer_guide</span>
		</a>

		<button
			(click)="setAutoUp()"
			[class.mat-mdc-raised-button]="autoUp"
			mat-icon-button
			matTooltip="Reload data periodically">
			<span class="material-symbols-outlined notranslate">
				repeat_one
			</span>
		</button>

		@if (selectedTable?.view) {
			<button
				(click)="editView()"
				mat-icon-button
				matTooltip="Edit view">
				<span class="material-symbols-outlined notranslate">table_view</span>
			</button>
		}

		<input #inputFile (change)="inputChange($event)" accept=".{{selectedServer!.driver.language.extension}}"
			   hidden="true"
			   onclick="this.value=null" type="file"/>

		<button [matMenuTriggerFor]="advanced" mat-icon-button>
			<span class="material-symbols-outlined notranslate">
				more_vert
			</span>
		</button>
		<mat-menu #advanced="matMenu" xPosition="before">
			<button (click)="inputFile.click()" mat-menu-item>Load query from file</button>
			<button (click)="saveToDisk()" mat-menu-item>Save query to file</button>
			@if (!selectedTable?.view) {
				<button (click)="addView()" [disabled]="!isQuerySelect()" mat-menu-item>
					Create view from query
				</button>
			}
			<button [matMenuTriggerFor]="disclaimer" mat-menu-item>Disclaimer</button>
		</mat-menu>
		<mat-menu #disclaimer="matMenu">
			<ul style="color: white; margin: 0; padding: 0px 22px; font-size: 12px;">
				<li>
					<pre>Only most keyword/function are proposed in autocomplete</pre>
				</li>
				<li>
					<pre>Autocomplete cannot ensure 100% accuracy</pre>
				</li>
			</ul>
		</mat-menu>
	</div>

	@if (reloadDb) {
		<a (click)="request.reloadServer()"
		   mat-flat-button>
			Reload database
		</a>
	}

	<div style="display: flex; align-items: center">
		@if (querySize >= 1) {
			<mat-form-field appearance="outline" class="goToPage">
				<mat-label>
					Page
				</mat-label>
				@if (querySize >= 100000) {
					<input
						#input
						(change)="page = +input.value; runQuery()"
						[max]="querySize"
						[value]="page"
						matInput
						min="0"
						type="number">
				}
				@if (querySize < 100000) {
					<mat-select
						(selectionChange)="page = $event.value; runQuery()"
						[value]="page">
						@for (item of [].constructor(Math.floor(querySize / pageSize) + 1); track item; let i = $index) {
							<mat-option
								[value]="i">{{ i }}
							</mat-option>
						}
					</mat-select>
				}
			</mat-form-field>
		}

		<mat-paginator
			(page)="page = $event.pageIndex; pageSize = $event.pageSize; runQuery()"
			[length]="querySize"
			[pageIndex]="page"
			[pageSizeOptions]="[50, 200, 500, 2000]"
		></mat-paginator>

		<button
			(click)="exportResult()"
			[disabled]="!dataSource || dataSource.data.length < 2"
			mat-icon-button
			matTooltip="Export all results">
			<span class="material-symbols-outlined notranslate">export_notes</span>
		</button>
	</div>
</mat-toolbar>

<mat-progress-bar
	[hidden]="!isLoading"
	mode="query"
	style="position: absolute; left: 0px; right: 0px; z-index: 10000000">
</mat-progress-bar>

<div [class.diff]="diff" id="container">

	<ngx-monaco-editor
		(onInit)="initEditor($event, 0)"
		[(ngModel)]="query"
		[options]="editorOptions">
	</ngx-monaco-editor>

	<ngx-monaco-editor
		(onInit)="initEditor($event, 1)"
		[(ngModel)]="query2"
		[hidden]="!diff"
		[options]="editorOptions">
	</ngx-monaco-editor>

	@if (!diff && dataSource?.data && dataSource!.data!.length > 0) {
		<div id="results">
			<table [dataSource]="dataSource!" class="table" mat-table range-selection>
				@for (column of displayedColumns; track column) {
					<ng-container
						matColumnDef="{{column}}"
					>
						<th *matHeaderCellDef
							[style.min-width]="column.length * 8 + 'px'"
							class="resizeColumn"
							mat-header-cell>
							{{ column }}
						</th>
						<td *matCellDef="let row" mat-cell>
							<app-cell
								[column]="column"
								[stringify]="stringify"
								[value]="row[column]"
							></app-cell>
						</td>
					</ng-container>
				}
				<tr *matHeaderRowDef="displayedColumns!; sticky: true" mat-header-row></tr>
				<tr *matRowDef="let row; columns: displayedColumns!;" mat-row></tr>
			</table>
		</div>
	}
</div>

@if (diff && !isLoading) {
	<div style="border-top: 2px solid #444444; position: relative;">
		<ngx-monaco-diff-editor
			[modifiedModel]="modifiedResult"
			[options]="diffOptions"
			[originalModel]="originalResult"
		></ngx-monaco-diff-editor>
	</div>
}
