#container {
	display: flex;
	height: calc(100vh - 162px);

	&.diff{
		height: calc(35vh - 81px) !important;
	}
}

ngx-monaco-diff-editor {
	height: calc(65vh - 81px) !important;
}

ngx-monaco-editor {
	width: 50%;
	height: 100%;

	&:first-child {
		resize: horizontal;
		overflow: auto;
	}
}

#actions {
	padding: 10px 20px;
}

#results {
	width: 100%;
	height: 100%;
	overflow: auto;
}
