<mat-dialog-content class="connection">
	<mat-stepper [selectedIndex]="newConnection && !server.ssh.host ? 0 : 1" labelPosition="bottom">
		<mat-step *ngIf="newConnection">
			<ng-template matStepLabel>Driver</ng-template>

			<div style="display: flex; flex-direction: column;">
				<div (click)="changeWrapper(wrapper)"
					 *ngFor="let wrapper of driverNames"
					 class="driver">
					<div class="logo">
						<img
							[class.mat-elevation-z12]="wrapper === server.wrapper"
							[style.outline]="wrapper === server.wrapper ? '3px solid #2196f3' : undefined"
							src="/assets/drivers/{{wrapper | lowercase}}.svg">
					</div>
				</div>
			</div>

			<div>
				<a href="https://webdb.app/features"
				   mat-flat-button
				   color="accent"
				   target="_blank">
					<span class="material-symbols-outlined notranslate">
						database
					</span>
					Compatibility List
				</a>
				<button
					[disabled]="!server.wrapper"
					color="primary"
					mat-icon-button
					mat-flat-button
					matStepperNext>
					<span class="material-symbols-outlined notranslate">
						arrow_forward_ios
					</span>
				</button>
			</div>

		</mat-step>
		<mat-step optional>
			<ng-template matStepLabel>SSH Tunnel</ng-template>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Host / IP</mat-label>
					<input [(ngModel)]="server.ssh.host" autocomplete="off" matInput>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Port</mat-label>
					<input [(ngModel)]="server.ssh.port" matInput max="47000" min="1" type="number">
				</mat-form-field>
			</div>

			<div>
				<mat-form-field appearance="outline">
					<mat-label>User</mat-label>
					<input [(ngModel)]="server.ssh.user" autocomplete="off" matInput>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input [(ngModel)]="server.ssh.password"
						   autocomplete="off"
						   matInput
						   type="{{!showPasswordSSH ? 'password' : 'text'}}">
					<mat-icon (click)="showPasswordSSH = !showPasswordSSH" matSuffix
							  style="cursor: pointer; position: absolute; right: 0px; top: -22px">
						{{!showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</div>

			<div>
				<div fxLayout="row">
					<button (click)="testSSH()"
							[disabled]="!server.ssh.host || !server.ssh.port || !server.ssh.user"
							[ngClass]="{'mat-flat-button' : sshStatus === 'notConnected'}"
							color="accent"
							mat-button>
						Test SSH
					</button>

					<mat-progress-spinner
						*ngIf="sshStatus === 'loading'"
						[diameter]="30"
						color="accent"
						mode="indeterminate">
					</mat-progress-spinner>
				</div>

				<button (click)="snackBar.open('Copied to clipboard', '╳', {duration: 3000})"
						[cdkCopyToClipboard]="pubRsa"
						color="primary"
						mat-stroked-button>
					<span class="material-symbols-outlined notranslate">
						vpn_key
					</span>
					WebDB Public Key
				</button>
			</div>

			<div>
				<button
					mat-icon-button
					mat-flat-button
					matStepperPrevious>
					<span class="material-symbols-outlined notranslate">
						arrow_back_ios_new
					</span>
				</button>
				<button
					*ngIf="server.ssh.host"
					[disabled]="sshStatus !== 'connected'"
					color="primary"
					mat-icon-button
					mat-flat-button
					matStepperNext>
					<span class="material-symbols-outlined notranslate">
						arrow_forward_ios
					</span>
				</button>
				<button
					*ngIf="sshStatus === 'notConnected'"
					color="primary"
					mat-icon-button
					mat-flat-button
					matStepperNext>
					<span class="material-symbols-outlined notranslate">
						skip_next
					</span>
				</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Connection Infos</ng-template>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Host / IP</mat-label>
					<input [(ngModel)]="server.host" autocomplete="off" matInput required>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Port</mat-label>
					<input [(ngModel)]="server.port" matInput max="47000" min="1" required type="number">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>User</mat-label>
					<input [(ngModel)]="server.user" matInput>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input [(ngModel)]="server.password"
						   autocomplete="off"
						   matInput
						   type="{{!showPassword ? 'password' : 'text'}}">
					<mat-icon (click)="showPassword = !showPassword" matSuffix
							  style="cursor: pointer; position: absolute; right: 0px; top: -22px">
						{{!showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</div>

			<ng-container *ngIf="server.driver && server.driver.connection.disclaimerSsh && server.ssh.host">

				<mat-divider></mat-divider>
				<p style="display: flex; align-items: center; justify-content: center;">
					<span class="material-symbols-outlined notranslate" style="margin-right: 8px">
						warning
					</span>
					{{server.driver.connection.disclaimerSsh}}
				</p>
			</ng-container>

			<div>
				<button
					mat-icon-button
					mat-flat-button
					matStepperPrevious>
					<span class="material-symbols-outlined notranslate">
						arrow_back_ios_new
					</span>
				</button>
				<button
					[disabled]="!server.host || !server.port"
					color="primary"
					mat-icon-button
					mat-flat-button
					matStepperNext>
					<span class="material-symbols-outlined notranslate">
						arrow_forward_ios
					</span>
				</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Driver Parameters</ng-template>

			<ngx-monaco-editor
				[(ngModel)]="params"
				[options]="editorOptions"
				style="width: 100%; min-height: 180px; resize: vertical"
			>
			</ngx-monaco-editor>
			<div>
				<button (click)="useDefault()"
					color="primary"
					mat-stroked-button>
					<span class="material-symbols-outlined notranslate">
						device_reset
					</span>
					Use Default Params
				</button>

				<a [href]="server.driver ? server.driver.docs.driver : ''"
				   mat-button
				   mat-stroked-button
				   style="margin-left: 20px"
				   target="_blank">
					<span class="material-symbols-outlined notranslate">
						developer_guide
					</span>
					{{server.wrapper}} Driver References
				</a>
			</div>
			<div>
				<button
					mat-icon-button
					mat-flat-button
					matStepperPrevious>
					<span class="material-symbols-outlined notranslate">
						arrow_back_ios_new
					</span>
				</button>
			</div>
		</mat-step>
	</mat-stepper>

	<mat-divider></mat-divider>

</mat-dialog-content>

<mat-dialog-actions>
	<button
		(click)="forget()"
		*ngIf="!newConnection"
		color="warn"
		mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				wifi_off
			</span>
		Forget
	</button>

	<button (click)="testServer()"
			[color]="connected ? 'accent' : 'primary'"
			[disabled]="!server.host || !server.port"
			mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				network_wifi_2_bar
			</span>
		Test
	</button>

	<button (click)="saveConnection()"
			[disabled]="!connected"
			color="primary"
			mat-flat-button>
			<span class="material-symbols-outlined notranslate">
				wifi_add
			</span>
		Save
	</button>

	<button aria-label="close dialog" mat-dialog-close mat-button>
		<mat-icon>close</mat-icon>
		Close
	</button>
</mat-dialog-actions>
