#container {
	padding: 20px;

	.servers {
		display: flex;

		.mat-card-content {
			display: flex;
			width: 100%;

			.login {
				width: 100%;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				padding: 0px 40px;

				> div {
					gap: 20px;
					display: flex;

					.mat-form-field, button {
						width: 230px;
					}
				}
			}

			.infos {
				width: 200px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				h3 {
					margin: 0px;

					span {
						vertical-align: middle;
					}
				}
			}

			.mat-list-base {
				min-width: 280px;
				overflow: auto;
				height: 100%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				flex: 1;

				::ng-deep .mat-list-item-content {

					.mat-list-text {
						display: flex;
						flex-direction: row;
						padding: 0px;
						gap: 10px;
					}

					.tableCount {
						width: 28px;
						text-align: right;
					}

					a {
						flex: 1;
						text-decoration: none;
						color: inherit;
						font-size: 15px;
					}
				}
			}

			.mat-list-option {
				max-width: 375px;
				margin: 0px auto;
			}

			.right-actions {
				display: flex;
				flex-direction: column;
				width: 145px;
				justify-content: space-evenly;
			}
		}

		.logo {
			display: flex;
			justify-content: center;

			img {
				max-width: 104px;
				height: 44px;
				padding: 2px 4px;
			}
		}
	}

	::ng-deep .mat-tab-body:first-child {
		.mat-card {
			height: 240px !important;
		}
	}

	::ng-deep .mat-card-header-text {
		margin: 0px;
		width: 100%;
	}

	::ng-deep .mat-tab-body-wrapper {
		overflow: auto;
		height: calc(100vh - 147px);
	}

	::ng-deep .mat-tab-labels {
		.mat-tab-label-content {
			gap: 4px;
		}

		& > div:last-child {
			right: 0px;
			position: absolute;
		}
	}

	::ng-deep .mat-tab-body-content {
		height: inherit;
		overflow: inherit;
	}
}

@media (max-width: 1200px) {
	.right-actions, .right-divider {
		display: none !important;
	}

	.servers .login > div {
		flex-direction: column;
	}
}
