#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.driver {
		min-width: 470px;
		margin-top: 15px;

		.logo {
			margin: 18px;
		}
	}

	.mat-expansion-panel-header {
		height: 58px;
	}
}

::ng-deep .driver {
	.logo {
		text-align: center;

		img {
			vertical-align: middle;
			padding: 10px 30px;
			width: 110px;
			height: 42px;
			background: white;
			border-radius: 4px;
		}
	}

	&:hover {
		img {
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
		}
	}
}

::ng-deep .connection {

	.mat-form-field {
		margin-bottom: -1.25em
	}

	.driver {
		margin: 15px;
		cursor: pointer;
		align-self: center;
	}

	.mat-horizontal-content-container {
		min-height: 40vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.mat-horizontal-stepper-content {
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		max-width: 700px;
		gap: 20px;

		> div {
			place-content: space-between;
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			padding: 0px 50px;
		}
	}

	.mat-horizontal-content-container {
		padding: 4px;
	}
}
