<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" style="position: fixed; top: 0px; z-index: 1000;">
	<mat-form-field style="width: 200px" appearance="standard">
		<input #filter
			   (keyup)="filterChanged(filter.value)"
			   placeholder="Search Server | Database"
			   autocomplete="off"
			   matInput>
		<button (click)="filter.value=''; filterChanged(filter.value)" *ngIf="filter.value" aria-label="Clear"
				mat-icon-button
				matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<button
		(click)="ngOnInit()"
		*ngIf="loading === LoadingStatus.DONE"
		mat-flat-button>
		<span class="material-symbols-outlined notranslate">
			wifi_find
		</span>
		Rescan Connections
	</button>

	<button (click)="addServer()"
			color="primary"
			mat-stroked-button>
		<span class="material-symbols-outlined notranslate">
			wifi_add
		</span>
		Add Connection
	</button>

	<app-top-right></app-top-right>
</mat-toolbar>

<div *ngIf="loading !== LoadingStatus.DONE"
	 style="height: calc(100vh - 56px); justify-content: center; display: flex;">
	<div style="align-self: center;">

		<ng-container *ngIf="loading === LoadingStatus.LOADING">
			<mat-spinner
				mode="indeterminate"
				style="margin: 0px auto;"></mat-spinner>
			<h2 style="color: #2196f3">Scanning Connections ...</h2>
		</ng-container>

		<div *ngIf="loading === LoadingStatus.ERROR">
			<mat-error>
				<h3>Backend unreachable, please check logs directly from it</h3>
			</mat-error>

			<mat-divider style="margin: 20px 0px;"></mat-divider>

			<div style="display: flex; justify-content: space-between;">
				<button
					mat-stroked-button
					color="primary"
					(click)="ngOnInit()">
					<span class="material-symbols-outlined notranslate">
						refresh
					</span>
					Reload Page
				</button>

				<a [href]="'https://gitlab.com/web-db/public/-/issues/new?issue[title]=Problem%20reaching%20the%20backend&issue[description]=Here%20is%20the%20error%20log:%0A'"
				   mat-stroked-button
				   target="_blank">
					<span class="material-symbols-outlined notranslate">
						bug_report
					</span>
					Send Report
				</a>
			</div>
		</div>
	</div>
</div>

<div id="container" *ngIf="loading === LoadingStatus.DONE">

	<div *ngIf="servers.length < 1">
		<mat-card>
			<mat-card-subtitle>
				No Server Found
			</mat-card-subtitle>
		</mat-card>
	</div>

	<ng-container *ngIf="servers.length">
		<ng-container *ngFor="let status of Object.values(Status)">
			<ng-container *ngIf="getServerByStatus(status).length">
				<div class="servers">
					<mat-card
						*ngFor="let server of getServerByStatus(status)"
						[hidden]="server.hide"
						style="margin-bottom: 15px">

						<h4 fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0px 10px">
							<div class="logo">
								<img src="/assets/drivers/{{server.wrapper.toLowerCase()}}.svg"/>
							</div>

							<span
								[matTooltip]="server.ssh | json"
								*ngIf="server.ssh && server.ssh.host"
								style="margin-right: 10px"
								class="material-symbols-outlined notranslate">
								subway
							</span>

							<div>
								<span *ngIf="server.user">
									{{server.user}} @
								</span>
								{{server.host}} : {{server.port}}
							</div>

							<div *ngIf="(server.scanned && server.stored) || !server.scanned" fxLayout="row"
								 fxLayoutAlign="space-around center">
								<button
									(click)="editConnection(server)"
									mat-icon-button>
										<span class="material-symbols-outlined notranslate">
											network_manage
										</span>
								</button>
							</div>
						</h4>

						<mat-divider></mat-divider>

						<mat-card-content>
							<ng-container *ngIf="!server.connected">
								<ng-container *ngIf="!server.scanned">
									<br>
									<mat-error>
										<div style="text-align: center">
											Unreachable or bad credentials
										</div>
									</mat-error>
								</ng-container>
								<ng-container *ngIf="server.scanned">
									<div (keyup.enter)="loginBtn._elementRef.nativeElement.click()">
										<div fxLayout="row" fxLayoutAlign="space-around none"
											 style="padding-top: 16px; gap: 10px">
											<mat-form-field appearance="outline">
												<mat-label>User</mat-label>
												<input #user matInput>
											</mat-form-field>
											<mat-form-field appearance="outline">
												<mat-label>Password</mat-label>
												<input #password
													   autocomplete="off"
													   matInput
													   type="{{!showPassword ? 'password' : 'text'}}">
												<mat-icon (click)="showPassword = !showPassword" matSuffix
														  style="cursor: pointer;">
													{{!showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
											</mat-form-field>
										</div>
										<div fxLayout="row" fxLayoutAlign="space-between none">
											<button
												#loginBtn
												(click)="login(server, user.value, password.value)"
												color="primary"
												mat-stroked-button>
												<mat-icon>login</mat-icon>
												Connect
											</button>

											<mat-spinner
												*ngIf="server.isLoading"
												[diameter]="30"
												color="primary"
											></mat-spinner>

											<button (click)="guess(server, user.value, password.value)"
													*ngIf="!server.isLoading"
													mat-stroked-button>
													<span class="material-symbols-outlined notranslate">
														lock_open_right
													</span>
												Guess Credentials
											</button>
										</div>
									</div>
								</ng-container>
							</ng-container>
							<ng-container *ngIf="server.connected">
								<mat-selection-list [multiple]="false">
									<mat-list-option
										*ngFor="let database of server.dbs"
										[disabled]="database.tables === undefined"
										[hidden]="database.hide"
										[style.opacity]="database.system ? '0.5' : 1"
										routerLink="/{{server.name}}/{{database.name}}">
										{{database.name}}
										<ng-container *ngIf="database.tables === undefined"> [Limited]</ng-container>
										<span matTooltip="Tables"
											  matTooltipPosition="right"
											  style="position: absolute; right: 20px">
												{{database.tables?.length}}
											</span>
									</mat-list-option>
								</mat-selection-list>

								<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
									<button (click)="addDatabase(server)" color="primary" mat-stroked-button>
											<span class="material-symbols-outlined notranslate">
												database
											</span>
										Create
									</button>
								</div>
							</ng-container>
						</mat-card-content>
					</mat-card>
				</div>
			</ng-container>
		</ng-container>
	</ng-container>
</div>
