<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">

	<div [formGroup]="form" class="container">

		<div *ngIf="form.get('old')" class="column" formGroupName="old">
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Column Name</mat-label>
					<input autocomplete="off"
						   formControlName="name"
						   matInput>
				</mat-form-field>
			</div>
			<div class="type">
				<mat-form-field appearance="fill">
					<mat-label>Type</mat-label>
					<textarea
						#type
						cdkTextareaAutosize
						formControlName="type"
						matInput
						type="text">
					</textarea>
				</mat-form-field>
			</div>
			<div class="options">
				<mat-form-field *ngIf="extraAttributes.length" appearance="fill">
					<mat-label>Extras</mat-label>
					<mat-select formControlName="extra"
								multiple>
					</mat-select>
				</mat-form-field>

				<mat-slide-toggle
					*ngIf="selectedServer!.driver.language.arrayType"
					[checked]="type.value.endsWith('[]')"
					disabled
					color="primary">
					Array
				</mat-slide-toggle>

				<mat-slide-toggle
					color="primary"
					formControlName="nullable">
					Nullable
				</mat-slide-toggle>

				<mat-form-field>
					<mat-label>Default Value on Null</mat-label>
					<input autocomplete="off"
						   formControlName="defaut"
						   matInput>
				</mat-form-field>
			</div>
		</div>

		<div formArrayName="columns">
			<div *ngFor="let column of formColumn.controls; let i = index"
				 [formGroupName]="i"
				 class="column mat-elevation-z4">

				<div>
					<mat-form-field appearance="outline">
						<mat-label>Column Name</mat-label>
						<input autocomplete="off"
							   formControlName="name"
							   matInput>
						<mat-error *ngIf="column.get('name')?.errors">
							Prefer alpha, numeric and "_", "-"
						</mat-error>
					</mat-form-field>

					<div>
						<button (click)="addColumn(column)"
								*ngIf="!form.get('old')"
								color="primary"
								mat-icon-button
								matTooltip="Duplicate column">
							<span class="material-symbols-outlined notranslate">
								content_copy
							</span>
						</button>

						<button (click)="formColumn.removeAt(i)"
								*ngIf="!form.get('old')"
								[disabled]="formColumn.controls.length <= 1"
								color="warn"
								mat-icon-button
								matTooltip="Remove column">
							<span class="material-symbols-outlined notranslate">
								remove
							</span>
						</button>
					</div>
				</div>

				<div class="type">
					<mat-form-field appearance="fill">
						<mat-label>Type</mat-label>
						<textarea
							#type
							cdkTextareaAutosize
							formControlName="type"
							matInput
							type="text">
						</textarea>
						<mat-error *ngIf="column.get('type')?.errors && column.get('type')!.errors!['required']">
							Type is required
						</mat-error>
						<mat-error *ngIf="column.get('type')?.errors && column.get('type')!.errors!['checkParams']">
							Parentheses contains error
						</mat-error>
					</mat-form-field>

					<button (click)="typeSuggestion.open()"
							color="primary"
							mat-icon-button
							mat-stroked-button>
						<span class="material-symbols-outlined notranslate">
							title
						</span>
					</button>

					<mat-select
						#typeSuggestion
						(selectionChange)="column.get('type')?.patchValue($event.value)">
						<mat-optgroup *ngFor="let group of selectedServer!.driver.language.typeGroups"
									  [label]="group.name">
							<mat-option *ngFor="let type of group.list" [value]="type.id">
								<span
									[matTooltip]="type.description ? type.description : ''"
									[style.color]="type.bold ? '#ff9800' : null"
									matTooltipPosition="left">
									{{type.id}}
								</span>
							</mat-option>
						</mat-optgroup>
					</mat-select>

					<button (click)="fctSuggestion.open()"
							color="primary"
							mat-icon-button
							mat-stroked-button>
						<span class="material-symbols-outlined notranslate">
							function
						</span>
					</button>

					<mat-select
						#fctSuggestion
						(selectionChange)="column.get('type')?.patchValue($event.value)">
						<mat-optgroup *ngFor="let group of selectedServer!.driver.language.typeGroups"
									  [label]="group.name">
							<mat-option *ngFor="let type of group.list" [value]="type.id">
								<span
									[matTooltip]="type.description ? type.description : ''"
									[style.color]="type.bold ? '#ff9800' : null"
									matTooltipPosition="left">
									{{type.id}}
								</span>
							</mat-option>
						</mat-optgroup>
					</mat-select>
				</div>

				<div class="options">
					<mat-form-field *ngIf="extraAttributes.length" appearance="fill">
						<mat-label>Extras</mat-label>
						<mat-select disableOptionCentering
									formControlName="extra"
									multiple>
							<ng-container *ngFor="let ext of extraAttributes">
								<mat-option
									[value]="ext">
									{{ext}}
								</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>

					<mat-slide-toggle
						*ngIf="selectedServer!.driver.language.arrayType"
						[checked]="type.value.endsWith('[]')"
						(change)="type.value = type.value.endsWith('[]') ? type.value.substring(0, type.value.indexOf('[]')) : type.value + '[]'"
						color="primary">
						Array
					</mat-slide-toggle>

					<mat-slide-toggle
						#nullable
						color="primary"
						formControlName="nullable">
						Nullable
					</mat-slide-toggle>

					<mat-form-field [style.opacity]="nullable.checked ? 1 : 0.5">
						<mat-label>Default Value on Null</mat-label>
						<input autocomplete="off"
							   formControlName="defaut"
							   matInput>
					</mat-form-field>
				</div>

			</div>
		</div>
	</div>

	<div class="actions">
		<button (click)="addColumn()"
				*ngIf="!form.get('old')"
				color="primary"
				mat-stroked-button>
			<span class="material-symbols-outlined notranslate">
				add
			</span>
			Column
		</button>

		<a *ngIf="selectedServer"
		   [href]="selectedServer!.driver.docs.types"
		   mat-button
		   target="_blank">
			<span class="material-symbols-outlined notranslate">
				help
			</span>
			{{selectedServer.wrapper}} Data Types
		</a>
	</div>
</div>
