:host {
	height: calc(100vh - 56px)
}

.container {
	overflow: auto;
	display: flex;
}

.mat-card {
	display: flex;
	flex-direction: column;
	min-width: 28vw;

	.mat-card-header {
		.mat-form-field {
			width: 100%;
		}

		::ng-deep .mat-card-header-text {
			margin: 0px;
		}
	}

	.mat-card-content {
		> div {
			display: flex;
			align-items: center;
			gap: 12px;

			.mat-form-field {
				flex: 1;
			}

			textarea {
				min-height: 16px;
				resize: vertical;
			}

			.mat-select {
				width: 0;
				visibility: hidden;
			}
		}
	}

	.mat-card-actions {
		display: flex;
		justify-content: space-evenly;
	}
}

.actions {
	display: flex;
	padding: 10px;
	border-top: 1px solid black;
	justify-content: space-around;
}
