:host {
	height: calc(100vh - 56px)
}

.container {
	padding: 25px;
	overflow: auto;
	display: flex;
}

.column {
	margin-bottom: 15px;
	border-radius: 4px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	min-width: 28vw;

	.options {
		gap: 20px;
	}

	.type {
		> .mat-form-field {
			width: 100%;
		}

		textarea {
			min-height: 16px;
			resize: vertical;
		}

		button {
			margin-left: 12px;
		}

		.mat-select {
			width: 0;
			visibility: hidden;
		}
	}

	.mat-form-field {
		min-width: 250px;
	}

	> * {
		margin: 6px 0px;
	}

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.actions {
	display: flex;
	padding: 10px;
	border-top: 1px solid black;
	justify-content: space-around;
}
