<div #fullScreen id="hostDiagram">
	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
		<div>
			<button (click)="diagramController!.autoPlace()" mat-button>
				<span class="material-symbols-outlined notranslate">
					view_cozy
				</span>
				Place Tables
			</button>

			<button [matMenuTriggerFor]="legend" mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
					legend_toggle
				</span>
				Legend
			</button>
			<mat-menu #legend="matMenu">
				Put real icon and SQL equivalent
				<span mat-menu-item>
					- one TO one
				</span>
				<span mat-menu-item>
					-<    - one TO many
				</span>
				<span mat-menu-item>
					>-    - many TO one
				</span>
				<span mat-menu-item>
					>-<   - many TO many
				</span>
				<span mat-menu-item>
					-0    - one TO zero or one
				</span>
				<span mat-menu-item>
					0-    - zero or one TO one
				</span>
				<span mat-menu-item>
					0-0   - zero or one TO zero or one
				</span>
				<span mat-menu-item>
					-0<   - one TO zero or many
				</span>
				<span mat-menu-item>
					>0-   - zero or many TO one
				</span>
			</mat-menu>
		</div>

		<div fxLayoutGap="8px" *ngIf="diagramController">
			<button (click)="openFullscreen()" mat-stroked-button matTooltip="Toggle Fullscreen">
				<span class="material-symbols-outlined notranslate">
					{{full ? 'fullscreen_exit' : 'fullscreen'}}
				</span>
			</button>

			<mat-slider
				(input)="diagramController.fontSize = $event.value!; diagramController.applyFontSize()"
				[value]="diagramController.fontSize"
				matTooltip="Font size"
				color="accent"
				max="1.5"
				min="0.1"
				step="0.05"
				thumbLabel>
			</mat-slider>

			<mat-slide-toggle
				(click)="toggleDetail()"
				checked
				color="accent"
				matTooltip="Hide columns without tags">
				Details
			</mat-slide-toggle>
		</div>

		<div>
			<button (click)="exportPng()" mat-button>
				<span class="material-symbols-outlined notranslate">
					photo_camera
				</span>
				PNG
			</button>
			<button (click)="exportSvg()" mat-button>
				<span class="material-symbols-outlined notranslate">
					photo_camera
				</span>
				SVG
			</button>
		</div>

	</mat-toolbar>

	<div #container
		 id="containerDiagram">
		<mat-progress-bar *ngIf="diagramController?.isAutoMoving"
						  color="accent"
						  mode="indeterminate"></mat-progress-bar>
		<div #scrollable
			 [ngClass]="{'hideDetails' : !showDetails}"
			 id="scrollableDiagram"
		></div>
	</div>
</div>
