<div cdkDrag cdkDragHandle
	 cdkDragRootElement=".cdk-overlay-pane"
	 mat-dialog-title>
	<div>
		<h3>
			{{file}}
		</h3>

		<button
			(click)="toggleAutoRefresh()"
			[color]="interval ? 'accent' : undefined"
			mat-icon-button
			matTooltipPosition="right"
			matTooltip="Reload data periodically">
			<span class="material-symbols-outlined notranslate">
				{{interval ? 'repeat_one_on' : 'repeat_one'}}
			</span>
		</button>
	</div>

	<mat-form-field
		style="font-size: 13px; flex: 1; margin: 0px 30px -1.25em 30px"
		color="accent">
		<input [(ngModel)]="filter"
			   (keyup)="filterChanged()"
			   autocomplete="off"
			   matInput
			   placeholder="Filter text">
		<button (click)="filter = ''; filterChanged()"
				*ngIf="filter"
				aria-label="Clear" mat-icon-button
				matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<button aria-label="close dialog" mat-dialog-close mat-icon-button>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<pre><code
		cdkFocusInitial
		[innerHTML]="strFiltered"
		style="overflow: auto; white-space: inherit; height: 30vh; width: 60vw; resize: both; font-size: 12px"></code></pre>
</div>
<div mat-dialog-actions *ngIf="file === 'err.log'">
	<a [href]="'https://gitlab.com/web-db/landing/-/issues/new?issue[title]=Problem%20while%20... &issue[description]=Here%20is%20the%20error%20log:%0A' + str['changingThisBreaksApplicationSecurity']"
	   mat-stroked-button
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			bug_report
		</span>
		Send Report
	</a>
</div>
