<button
	(click)="installPWA()"
	*ngIf="router.url === '/'"
	[hidden]="!shouldInstall()"
	mat-button>
	<span class="material-symbols-outlined notranslate">
		install_desktop
	</span>
</button>

<button
	mat-button
	(click)="showLogs()">
	<span class="material-symbols-outlined notranslate">
		browse_activity
	</span>
</button>
<button [matMenuTriggerFor]="help" mat-button>
	<span class="material-symbols-outlined notranslate">
		help
	</span>
</button>
<button (click)="showSettings()" mat-button>
	<span class="material-symbols-outlined notranslate">
		settings
	</span>
</button>
<mat-menu #help="matMenu">
	<a href="https://gitlab.com/web-db/public/-/issues"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			bug_report
		</span>
		Issues
	</a>
	<a href="https://gitlab.com/web-db/public/-/wikis/home"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			dictionary
		</span>
		Documentation
	</a>
	<a href="https://gitlab.com/web-db/public/-/wikis/Tags-Symbol"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			emoji_symbols
		</span>
		Symbols
	</a>
	<a  [href]="environment.rootUrl + 'changelog.html'"
		mat-menu-item
		target="_blank">
		<span class="material-symbols-outlined notranslate">
			receipt_long
		</span>
		Changelog
	</a>
	<a *ngIf="isSQL() === false"
	   mat-menu-item
	   href="https://gitlab.com/web-db/public/-/wikis/NoSQL-Disclaimer"
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			indeterminate_question_box
		</span>
		Limitation
	</a>
</mat-menu>
