<ng-container *ngIf="Server.getSelected()">
	<button
		mat-button
		(click)="showLogs('out.log')">
		<span class="material-symbols-outlined notranslate">
			browse_activity
		</span>
	</button>
</ng-container>
<button [matMenuTriggerFor]="help" mat-button>
	<span class="material-symbols-outlined notranslate">
		help
	</span>
</button>
<button (click)="showSettings()" mat-button>
	<span class="material-symbols-outlined notranslate">
		settings
	</span>
</button>
<mat-menu #help="matMenu">
	<a href="https://gitlab.com/web-db/landing/-/issues"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			bug_report
		</span>
		Issues
	</a>
	<a href="https://gitlab.com/web-db/landing/-/wikis/home"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			menu_book
		</span>
		Documentation
	</a>
	<a href="https://gitlab.com/web-db/landing/-/wikis/Tags-Symbol"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			text_fields
		</span>
		Symbols
	</a>
	<a *ngIf="!isSQL()"
	   mat-menu-item
	   href="https://gitlab.com/web-db/landing/-/wikis/NoSQL-Disclaimer"
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			warning
		</span>
		Disclaimer
	</a>
	<mat-divider></mat-divider>
	<a
		(click)="showLogs('err.log')"
		mat-menu-item>
		<span class="material-symbols-outlined notranslate">
			report
		</span>
		Error Logs
	</a>
	<a mat-menu-item>
		<mat-icon svgIcon="webdb"></mat-icon>
		Beta
		v{{packageJson.version}}
	</a>
</mat-menu>
