<button [matMenuTriggerFor]="activity" mat-icon-button>
	<span class="material-symbols-outlined notranslate">
		vital_signs
	</span>
</button>
<mat-menu #activity="matMenu">
	<ng-container
		*ngIf="Server.getSelected()">
		<a (click)="request.reloadServer()"
		   mat-menu-item>
			<span class="material-symbols-outlined notranslate">
				frame_reload
			</span>
			Reload Database
		</a>
		<a (click)="showProcess()"
		   *ngIf="Server.getSelected()"
		   mat-menu-item
		   target="_blank">
			<span class="material-symbols-outlined notranslate">
				smart_display
			</span>
			Process List
		</a>
		<a (click)="showStats()"
		   mat-menu-item
		   target="_blank">
			<span class="material-symbols-outlined notranslate">
				timeline
			</span>
			Server Stats
		</a>
	</ng-container>

	<a (click)="showLogs()"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			receipt_long
		</span>
		Finished queries
	</a>
</mat-menu>
<button [matMenuTriggerFor]="help" mat-icon-button>
	<span class="material-symbols-outlined notranslate">
		help
	</span>
</button>
<mat-menu #help="matMenu">
	<a href="https://github.com/WebDB-App/app/issues"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			bug_report
		</span>
		Issues
	</a>
	<a href="https://docs.webdb.app/"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			dictionary
		</span>
		Documentation
	</a>
	<a href="https://docs.webdb.app/tags-symbol"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			emoji_symbols
		</span>
		Symbols
	</a>
	<a [href]="environment.rootUrl + 'changelog.html'"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			receipt
		</span>
		Changelog
	</a>
	<a *ngIf="isSQL() === false"
	   href="https://docs.webdb.app/nosql-structure-inferring/limitation"
	   mat-menu-item
	   target="_blank">
		<span class="material-symbols-outlined notranslate">
			indeterminate_question_box
		</span>
		Limitation
	</a>
</mat-menu>
<button (click)="showSettings()" mat-icon-button>
	<span class="material-symbols-outlined notranslate">
		settings
	</span>
</button>
