:host ::ng-deep {
	.removeGlyph {
		background: rgba(244, 67, 54, 0.7);
	}

	.addGlyph {
		background: rgba(33, 150, 243, 0.7);
	}

	.glyph {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.mat-card {
	padding: 0px;
	display: flex;

	.mat-card-actions {
		width: 126px;
		text-align: center;
		display: flex;
		justify-content: space-between;
		margin: 14px;
		flex-direction: column;
		align-items: stretch;
	}
}
