<mat-toolbar
	fxLayout="row"
	fxLayoutAlign="space-between center">
	<mat-form-field appearance="legacy" style="width: 250px; margin-bottom: -1.25em">
		<input (keyup)="filterChanged()"
			   [(ngModel)]="filter"
			   autocomplete="off"
			   matInput
			   placeholder="Search version">
		<button (click)="filter = ''; filterChanged()"
				*ngIf="filter"
				aria-label="Clear" mat-icon-button
				matSuffix>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<div style="display: flex; gap: 10px">
		<button
			(click)="load10()"
			mat-flat-button>
			Load 10 first
		</button>

		<button
			(click)="snackBar.open('Git remote copied', '⨉', {duration: 3000})"
			[cdkCopyToClipboard]="''"
			mat-flat-button
			mat-icon-button>
			<span class="material-symbols-outlined notranslate">
				tv_remote
			</span>
		</button>
	</div>
</mat-toolbar>

<mat-progress-bar
	*ngIf="isLoading"
	style="position: absolute; left: 0px; right: 0px; z-index: 10000000"
	color="accent"
	mode="indeterminate">
</mat-progress-bar>

<div style="height: calc(100vh - 56px); overflow: auto;">

	<mat-card *ngIf="selectedDatabase?.system || selectedServer?.name === 'CockroachDB'">
		<mat-card-header>
			<mat-card-subtitle>
				<mat-error>
					<br>
					Database Versioning is not available for this databases
				</mat-error>
			</mat-card-subtitle>
		</mat-card-header>
	</mat-card>

	<ng-container *ngIf="!selectedDatabase?.system && selectedServer?.name !== 'CockroachDB'">

		<mat-card
			*ngIf="patches.length < 1">
			<mat-card-header>
				<mat-card-subtitle>
					<br>
					No version yet, make a modification to your database to see one
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>

		<mat-card
			*ngFor="let patch of patches; trackBy:identify"
			[hidden]="patch.hide">

			<mat-card-actions>

				<ng-container *ngIf="!patch.isLoading">
					<span>
						{{ patch.time | date:'MM-dd HH:mm:ss' }}
					</span>

					<button
						(click)="snackBar.open('Hash copied', '⨉', {duration: 3000})"
						[cdkCopyToClipboard]="patch.hash"
						mat-button>
						<span class="material-symbols-outlined notranslate">
							tag
						</span>
						{{ patch.hash | slice:0:6 }}
					</button>

					<button
						(click)="reset(patch)"
						*ngIf="patch.diff"
						color="accent"
						mat-button>
						<span class="material-symbols-outlined notranslate">
							restart_alt
						</span>
						Reset
					</button>
				</ng-container>

				<mat-progress-spinner
					*ngIf="patch.isLoading"
					[diameter]="60"
					style="margin: auto;"
					color="accent"
					mode="indeterminate">
				</mat-progress-spinner>
			</mat-card-actions>

			<mat-card-content style="display: flex; flex: 1; justify-content: center; align-items: center;">
				<button
					(click)="loadDiff(patch)"
					*ngIf="!patch.diff"
					color="accent"
					mat-flat-button>
					<span class="material-symbols-outlined notranslate">
						difference
					</span>
					Load diff
				</button>

				<ngx-monaco-editor
					style="width: 100%; min-width: 500px; resize: none"
					*ngIf="patch.diff"
					(onInit)="initEditor($event, patch.diff)"
					[(ngModel)]="patch.diff"
					[options]="editorOptions">
				</ngx-monaco-editor>
			</mat-card-content>
		</mat-card>

	</ng-container>
</div>
