<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">

	<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
		<div>Add Column for {{table?.name}}</div>

		<div>
			<button (click)="add()"
					[disabled]="!form.valid"
					color="primary"
					mat-flat-button>
				<span class="material-symbols-outlined notranslate">
					view_column_2
				</span>
				Apply
			</button>
		</div>
	</mat-toolbar>

	<div style="padding: 20px; height: calc(100vh - 96px)">
		<app-column [form]="form"></app-column>
	</div>

</div>
