<div style="height: calc(100vh - 112px)">

	<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between center">

		<mat-toolbar
			fxLayout="row"
			fxLayoutAlign="space-between center"
			style="padding: 20px">

			<span>
				{{selectedTable!.name}}
			</span>

			<button (click)="truncate()" *ngIf="!selectedTable?.view" color="warn" mat-stroked-button>
				<span class="material-symbols-outlined notranslate">
				  delete
				</span>
				Empty
			</button>

			<button (click)="drop()" color="warn" mat-button>
				<span class="material-symbols-outlined notranslate">
					delete_forever
				</span>
				Drop
			</button>

		</mat-toolbar>

		<div fxLayout="column" fxLayoutAlign="center none" style="width: 400px;">

			<mat-accordion>
				<mat-expansion-panel [expanded]="(checks.length + triggers.length + validators.length) > 0">
					<mat-expansion-panel-header>
						<mat-panel-description>
							{{checks.length + triggers.length + validators.length}} Complex Elements
						</mat-panel-description>
					</mat-expansion-panel-header>

					<h4>Checks</h4>
					<ul *ngFor="let complex of checks">
						<li>{{complex.name}}</li>
					</ul>

					<h4>Triggers</h4>
					<ul *ngFor="let complex of triggers">
						<li>{{complex.name}}</li>
					</ul>

					<h4>Validators</h4>
					<ul *ngFor="let complex of validators">
						<li>{{complex.name}}</li>
					</ul>
				</mat-expansion-panel>
			</mat-accordion>

			<mat-divider></mat-divider>

			<ng-container *ngIf="!selectedTable?.view">

				<div *ngIf="stats" fxLayout="row" fxLayoutAlign="space-between center">
					<span>Index Size : {{+stats.index_length  | round}} Mb</span>
					<span>Data Size : {{+stats.data_length  | round}} Mb</span>
				</div>

				<mat-divider></mat-divider>

				<div fxLayout="row" fxLayoutAlign="space-between center">
					<mat-form-field>
						<mat-label>Copy Name</mat-label>
						<input
							#tableCopy
							[value]="selectedTable?.name"
							autocomplete="off"
							matInput>
					</mat-form-field>
					<button (click)="duplicate(tableCopy.value)"
							[disabled]="!validName(tableCopy.value)"
							mat-stroked-button
							matTooltip="Do not duplicate References/Indexes on new table">
						<span class="material-symbols-outlined notranslate">
							{{selectedTable?.view ? "table_view" : "table"}}
						</span>
						Duplicate
					</button>
				</div>

				<mat-divider></mat-divider>

				<div fxLayout="row" fxLayoutAlign="space-between center">
					<mat-form-field>
						<mat-label>New Name</mat-label>
						<input
							#tableRename
							[value]="selectedTable?.name"
							autocomplete="off"
							matInput>
					</mat-form-field>
					<button (click)="rename(tableRename.value)"
							[disabled]="!validName(tableRename.value)"
							mat-stroked-button>
						<span class="material-symbols-outlined notranslate">
							{{selectedTable?.view ? "table_view" : "table"}}
						</span>
						Rename
					</button>
				</div>
			</ng-container>
		</div>

		<div>
			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<span class="material-symbols-outlined notranslate">
								speed
							</span>
						</mat-panel-title>
						<mat-panel-description>
							Performance Tips
						</mat-panel-description>
					</mat-expansion-panel-header>
					• Calculate to most used column and index it (RAM is ~100x speeder than disk)
					<br>
					• Specify only needed columns (avoid wildcard)
					<br>
					• Use views for pre-calculate queries
					<br>
					• Cache almost static data into your backend, Redis or even frontend
					<br>
					• Check slow queries and profile them to know why it take time
					<br>
					• Use an optimized database for your need (eg. elasticsearch for fulltext search)
					<br>
					• Use the AI assistant for more advanced optimizations for a query performance or table structure
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>

</div>
