#container {
	height: calc(100vh - 56px) !important;
	min-height: inherit !important;
}

.mat-mdc-tab-nav-bar {
	.selected-tab {
		background-color: var(--mat-toolbar-container-background-color, var(--mat-app-surface));
	}
}

#tableList {
	width: 17vw;
	resize: horizontal;
	border-right: 1px solid #444444;

	::ng-deep .mat-drawer-inner-container {
		display: flex;
		flex-direction: column;
	}

	mat-list {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		mat-selection-list {
			padding: 0 2px;

			.entity {
				border-radius: 18px;
				display: flex;
				flex-direction: column;

				&.selected {
					background-color: #00497d;

					.mat-mdc-list-option {
						#background-color: #1e1e1e;
					}
				}

				.mat-mdc-list-item {
					padding-left: 0px;
				}

				::ng-deep .mdc-list-item__content {
					padding: 0px;

					a {
						text-decoration: none;
						color: inherit;
						margin-left: 12px;
						height: 42px;
						font-size: 14px;
						display: block;
						align-content: center;
					}
				}

				::ng-deep .table td:nth-child(2) {
					width: 0px;
				}

				&:hover {
					.mat-mdc-icon-button {
						opacity: 1;
					}
				}

				.mat-mdc-icon-button {
					opacity: 0.3;
					align-self: center;
				}

				.openedTooltip {
					background-color: #1e1e1e;
					border-top-left-radius: 18px;
				}
			}
		}
	}
}

::ng-deep .columns {
	background-color: #1e1e1e;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;

	table {
		padding: 0px 6px;
		width: 100%;

		.mat-mdc-row {
			height: 30px;

			.mat-mdc-cell {
				font-size: 12px;
				padding: 0px !important;
				min-width: inherit;
				border: none;
			}
		}
	}
}
