<mat-sidenav-container autosize id="container">
	<mat-sidenav
		#sidenav
		(click)="saveWidth(sidenav._getWidth())"
		[style.width]="width + 'px'"
		disableClose
		id="tableList"
		mode="side"
		opened>

		<div>
			<mat-form-field appearance="fill" class="searchField" style="width: 100%">
				<input
					#filter
					(keyup)="filterChanged(filter.value)"
					autocomplete="off"
					matInput
					placeholder="Filter table / column / type">
				@if (filter.value) {
					<button
						(click)="filter.value=''; filterChanged(filter.value)"
						aria-label="Clear" mat-icon-button
						matSuffix>
						<span
							class="material-symbols-outlined notranslate"
							style="margin-top: 14px">
							close
						</span>
					</button>
				}
			</mat-form-field>
		</div>

		<mat-list>
			@if (!selectedDatabase || !selectedDatabase?.tables || selectedDatabase.tables.length < 1) {
				<mat-list-item>
					No table
				</mat-list-item>
			}

			<mat-selection-list
				[multiple]="false">
				@for (table of selectedDatabase?.tables; track table) {
					<div
						[hidden]="table.hide"
						[class.selected]="selectedTable?.name === table.name"
						class="entity">
						<div style="display: flex">
							<div [style.background-color]="tooltips[table.name] ? '#1e1e1e' : 'inherit'"
								 style="display: flex;">
								<button
									(click)="getTooltip(table)"
									mat-icon-button
									style="zoom: 0.8">
									<span class="material-symbols-outlined notranslate">
										{{ tooltips[table.name] ? 'expand_less' : 'expand_more' }}
									</span>
								</button>
							</div>
							<mat-list-option
								(keyup.enter)="goTo(table.name)"
								(keyup.space)="goTo(table.name)"
								[class.mat-mdc-list-single-selected-option]="selectedTable?.name === table.name"
								[style.font-style]="table.view ? 'italic' : 'normal'"
								[value]="table.name">
								<a href="{{changeTable(table.name)}}">
									{{ table.name }}
								</a>
							</mat-list-option>
						</div>
						@if (tooltips[table.name]) {
							<div class="columns">
								<div [innerHtml]="tooltips[table.name]"></div>
								<mat-divider></mat-divider>
							</div>
						}
					</div>
				}
			</mat-selection-list>

			<span style="flex: 1 1 0.0000001px; box-sizing: border-box;"></span>
		</mat-list>

		<div>
			<button (click)="addTable()" mat-button style="width: 100%">
				<span class="material-symbols-outlined notranslate">
					add_box
				</span>
				Table
			</button>
		</div>
	</mat-sidenav>

	@if (selectedDatabase) {
		<div id="core">
			@if (selectedDatabase.tables.length >= 1) {
				<nav [tabPanel]="tabPanel" mat-tab-nav-bar>
					@for (tab of tabs; track tab) {
						<a [routerLinkActive]="['selected-tab']"
							[routerLink]="[tab]"
							mat-tab-link>
							{{ tab | titlecase }}
						</a>
					}
				</nav>
				<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
				<router-outlet></router-outlet>
			}
			@if (selectedDatabase.tables.length < 1) {
				<app-query></app-query>
			}
		</div>
	}

</mat-sidenav-container>
