#container {
	height: calc(100vh - 56px) !important;
	min-height: inherit !important;
}

#tableList {
	width: 17vw;
	resize: horizontal;

	mat-list {
		height: 100%;
		padding-top: 5px;

		mat-selection-list {
			overflow-x: hidden;
			overflow-y: auto;

			::ng-deep .mat-list-item-content {
				padding: 0px;

				.mat-list-text {
					padding: 0px;

					a {
						text-decoration: none;
						color: inherit;
						margin-left: 12px;
					}
				}
			}

			.entity {
				display: flex;
				flex-direction: column;

				.mat-list-item {
					font-size: 15px;
				}

				::ng-deep .table td:nth-child(2) {
					width: 0px;
				}

				&:hover {
					.mat-icon-button {
						opacity: 1;
					}
				}

				.mat-icon-button {
					opacity: 0.3;
					align-self: center;
				}
			}
		}
	}
}

::ng-deep .columns {
	background-color: #1e1e1e;

	.mat-row {
		height: 30px;

		.mat-cell {
			font-size: 12px;
			padding: 0px 0px 0px 6px !important;
			min-width: inherit;
		}
	}
}
